# Part 1: Pandas - from Zero to Hero

## First Steps with Pandas

### Creating your very first Pandas DataFrame (from csv)

In [6]:
import pandas as pd

In [7]:
pd.read_csv("titanic.csv")

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [8]:
titanic = pd.read_csv("titanic.csv")

In [9]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

### Pandas Display Options and the methods head() & tail()

In [11]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [12]:
print(titanic)

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [13]:
pd.options.display.max_rows

60

In [14]:
pd.options.display.min_rows

10

In [15]:
pd.options.display.min_rows = 20

In [16]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
5           0       3    male   NaN      0      0   8.4583        Q  NaN
6           0       1    male  54.0      0      0  51.8625        S    E
7           0       3    male   2.0      3      1  21.0750        S  NaN
8           1       3  female  27.0      0      2  11.1333        S  NaN
9           1       2  female  14.0      1      0  30.0708        C  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
881         0       3    male  33.0      0      0   7.8958        S  NaN
882         0       3  female  22.0      0      0  10.5167        S  NaN
883         0       2    male  28.0      0      0  10.5000        S  NaN
884         0       3    male  25.0      0      0   7.0500        S  NaN
885         0       3  female  39.0      0      5  29.1250        Q  NaN
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [17]:
pd.options.display.min_rows = None

In [18]:
titanic

     survived  pclass     sex   age  sibsp  parch      fare embarked deck
0           0       3    male  22.0      1      0    7.2500        S  NaN
1           1       1  female  38.0      1      0   71.2833        C    C
2           1       3  female  26.0      0      0    7.9250        S  NaN
3           1       1  female  35.0      1      0   53.1000        S    C
4           0       3    male  35.0      0      0    8.0500        S  NaN
5           0       3    male   NaN      0      0    8.4583        Q  NaN
6           0       1    male  54.0      0      0   51.8625        S    E
7           0       3    male   2.0      3      1   21.0750        S  NaN
8           1       3  female  27.0      0      2   11.1333        S  NaN
9           1       2  female  14.0      1      0   30.0708        C  NaN
10          1       3  female   4.0      1      1   16.7000        S    G
11          1       1  female  58.0      0      0   26.5500        S    C
12          0       3    male  20.0      0      0    8.0500        S  NaN
13          0       3    male  39.0      1      5   31.2750        S  NaN
14          0       3  female  14.0      0      0    7.8542        S  NaN
15          1       2  female  55.0      0      0   16.0000        S  NaN
16          0       3    male   2.0      4      1   29.1250        Q  NaN
17          1       2    male   NaN      0      0   13.0000        S  NaN
18          0       3  female  31.0      1      0   18.0000        S  NaN
19          1       3  female   NaN      0      0    7.2250        C  NaN
20          0       2    male  35.0      0      0   26.0000        S  NaN
21          1       2    male  34.0      0      0   13.0000        S    D
22          1       3  female  15.0      0      0    8.0292        Q  NaN
23          1       1    male  28.0      0      0   35.5000        S    A
24          0       3  female   8.0      3      1   21.0750        S  NaN
25          1       3  female  38.0      1      5   31.3875        S  NaN
26          0       3    male   NaN      0      0    7.2250        C  NaN
27          0       1    male  19.0      3      2  263.0000        S    C
28          1       3  female   NaN      0      0    7.8792        Q  NaN
29          0       3    male   NaN      0      0    7.8958        S  NaN
..        ...     ...     ...   ...    ...    ...       ...      ...  ...
861         0       2    male  21.0      1      0   11.5000        S  NaN
862         1       1  female  48.0      0      0   25.9292        S    D
863         0       3  female   NaN      8      2   69.5500        S  NaN
864         0       2    male  24.0      0      0   13.0000        S  NaN
865         1       2  female  42.0      0      0   13.0000        S  NaN
866         1       2  female  27.0      1      0   13.8583        C  NaN
867         0       1    male  31.0      0      0   50.4958        S    A
868         0       3    male   NaN      0      0    9.5000        S  NaN
869         1       3    male   4.0      1      1   11.1333        S  NaN
870         0       3    male  26.0      0      0    7.8958        S  NaN
871         1       1  female  47.0      1      1   52.5542        S    D
872         0       1    male  33.0      0      0    5.0000        S    B
873         0       3    male  47.0      0      0    9.0000        S  NaN
874         1       2  female  28.0      1      0   24.0000        C  NaN
875         1       3  female  15.0      0      0    7.2250        C  NaN
876         0       3    male  20.0      0      0    9.8458        S  NaN
877         0       3    male  19.0      0      0    7.8958        S  NaN
878         0       3    male   NaN      0      0    7.8958        S  NaN
879         1       1  female  56.0      0      1   83.1583        C    C
880         1       2  female  25.0      0      1   26.0000        S  NaN
881         0       3    male  33.0      0      0    7.8958        S  NaN
882         0       3  female  22.0      0      0   10.5167        S  NaN
883         0       2    male  28.0      0      0   10.5000        S  NaN
884         0       3    male  25.0      0      0    7.0500        S  NaN
885         0       3  female  39.0      0      5   29.1250        Q  NaN
886         0       2    male  27.0      0      0   13.0000        S  NaN
887         1       1  female  19.0      0      0   30.0000        S    B
888         0       3  female   NaN      1      2   23.4500        S  NaN
889         1       1    male  26.0      0      0   30.0000        C    C
890         0       3    male  32.0      0      0    7.7500        Q  NaN

[891 rows x 9 columns]

In [19]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [20]:
titanic.head(20)

    survived  pclass     sex   age  sibsp  parch     fare embarked deck
0          0       3    male  22.0      1      0   7.2500        S  NaN
1          1       1  female  38.0      1      0  71.2833        C    C
2          1       3  female  26.0      0      0   7.9250        S  NaN
3          1       1  female  35.0      1      0  53.1000        S    C
4          0       3    male  35.0      0      0   8.0500        S  NaN
5          0       3    male   NaN      0      0   8.4583        Q  NaN
6          0       1    male  54.0      0      0  51.8625        S    E
7          0       3    male   2.0      3      1  21.0750        S  NaN
8          1       3  female  27.0      0      2  11.1333        S  NaN
9          1       2  female  14.0      1      0  30.0708        C  NaN
10         1       3  female   4.0      1      1  16.7000        S    G
11         1       1  female  58.0      0      0  26.5500        S    C
12         0       3    male  20.0      0      0   8.0500        S  NaN
13         0       3    male  39.0      1      5  31.2750        S  NaN
14         0       3  female  14.0      0      0   7.8542        S  NaN
15         1       2  female  55.0      0      0  16.0000        S  NaN
16         0       3    male   2.0      4      1  29.1250        Q  NaN
17         1       2    male   NaN      0      0  13.0000        S  NaN
18         0       3  female  31.0      1      0  18.0000        S  NaN
19         1       3  female   NaN      0      0   7.2250        C  NaN

In [21]:
titanic.tail()

     survived  pclass     sex   age  sibsp  parch   fare embarked deck
886         0       2    male  27.0      0      0  13.00        S  NaN
887         1       1  female  19.0      0      0  30.00        S    B
888         0       3  female   NaN      1      2  23.45        S  NaN
889         1       1    male  26.0      0      0  30.00        C    C
890         0       3    male  32.0      0      0   7.75        Q  NaN

In [22]:
titanic.tail(2)

     survived  pclass   sex   age  sibsp  parch   fare embarked deck
889         1       1  male  26.0      0      0  30.00        C    C
890         0       3  male  32.0      0      0   7.75        Q  NaN

### First Data Inspection

In [24]:
titanic

     survived  pclass     sex   age  sibsp  parch      fare embarked deck
0           0       3    male  22.0      1      0    7.2500        S  NaN
1           1       1  female  38.0      1      0   71.2833        C    C
2           1       3  female  26.0      0      0    7.9250        S  NaN
3           1       1  female  35.0      1      0   53.1000        S    C
4           0       3    male  35.0      0      0    8.0500        S  NaN
5           0       3    male   NaN      0      0    8.4583        Q  NaN
6           0       1    male  54.0      0      0   51.8625        S    E
7           0       3    male   2.0      3      1   21.0750        S  NaN
8           1       3  female  27.0      0      2   11.1333        S  NaN
9           1       2  female  14.0      1      0   30.0708        C  NaN
10          1       3  female   4.0      1      1   16.7000        S    G
11          1       1  female  58.0      0      0   26.5500        S    C
12          0       3    male  20.0      0      0    8.0500        S  NaN
13          0       3    male  39.0      1      5   31.2750        S  NaN
14          0       3  female  14.0      0      0    7.8542        S  NaN
15          1       2  female  55.0      0      0   16.0000        S  NaN
16          0       3    male   2.0      4      1   29.1250        Q  NaN
17          1       2    male   NaN      0      0   13.0000        S  NaN
18          0       3  female  31.0      1      0   18.0000        S  NaN
19          1       3  female   NaN      0      0    7.2250        C  NaN
20          0       2    male  35.0      0      0   26.0000        S  NaN
21          1       2    male  34.0      0      0   13.0000        S    D
22          1       3  female  15.0      0      0    8.0292        Q  NaN
23          1       1    male  28.0      0      0   35.5000        S    A
24          0       3  female   8.0      3      1   21.0750        S  NaN
25          1       3  female  38.0      1      5   31.3875        S  NaN
26          0       3    male   NaN      0      0    7.2250        C  NaN
27          0       1    male  19.0      3      2  263.0000        S    C
28          1       3  female   NaN      0      0    7.8792        Q  NaN
29          0       3    male   NaN      0      0    7.8958        S  NaN
..        ...     ...     ...   ...    ...    ...       ...      ...  ...
861         0       2    male  21.0      1      0   11.5000        S  NaN
862         1       1  female  48.0      0      0   25.9292        S    D
863         0       3  female   NaN      8      2   69.5500        S  NaN
864         0       2    male  24.0      0      0   13.0000        S  NaN
865         1       2  female  42.0      0      0   13.0000        S  NaN
866         1       2  female  27.0      1      0   13.8583        C  NaN
867         0       1    male  31.0      0      0   50.4958        S    A
868         0       3    male   NaN      0      0    9.5000        S  NaN
869         1       3    male   4.0      1      1   11.1333        S  NaN
870         0       3    male  26.0      0      0    7.8958        S  NaN
871         1       1  female  47.0      1      1   52.5542        S    D
872         0       1    male  33.0      0      0    5.0000        S    B
873         0       3    male  47.0      0      0    9.0000        S  NaN
874         1       2  female  28.0      1      0   24.0000        C  NaN
875         1       3  female  15.0      0      0    7.2250        C  NaN
876         0       3    male  20.0      0      0    9.8458        S  NaN
877         0       3    male  19.0      0      0    7.8958        S  NaN
878         0       3    male   NaN      0      0    7.8958        S  NaN
879         1       1  female  56.0      0      1   83.1583        C    C
880         1       2  female  25.0      0      1   26.0000        S  NaN
881         0       3    male  33.0      0      0    7.8958        S  NaN
882         0       3  female  22.0      0      0   10.5167        S  NaN
883         0       2    male  28.0      0      0   10.5000        S  NaN
884         0       3    male  25.0      0      0    7.0500        S  NaN
885         0       3  female  39.0      0      5   29.1250        Q  NaN
886         0       2    male  27.0      0      0   13.0000        S  NaN
887         1       1  female  19.0      0      0   30.0000        S    B
888         0       3  female   NaN      1      2   23.4500        S  NaN
889         1       1    male  26.0      0      0   30.0000        C    C
890         0       3    male  32.0      0      0    7.7500        Q  NaN

[891 rows x 9 columns]

In [25]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [26]:
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [27]:
titanic.describe(include = "O")

         sex embarked deck
count    891      889  203
unique     2        3    7
top     male        S    C
freq     577      644   59

### Python Built-in Functions & DataFrame Attributes and Methods

In [29]:
titanic

     survived  pclass     sex   age  sibsp  parch      fare embarked deck
0           0       3    male  22.0      1      0    7.2500        S  NaN
1           1       1  female  38.0      1      0   71.2833        C    C
2           1       3  female  26.0      0      0    7.9250        S  NaN
3           1       1  female  35.0      1      0   53.1000        S    C
4           0       3    male  35.0      0      0    8.0500        S  NaN
5           0       3    male   NaN      0      0    8.4583        Q  NaN
6           0       1    male  54.0      0      0   51.8625        S    E
7           0       3    male   2.0      3      1   21.0750        S  NaN
8           1       3  female  27.0      0      2   11.1333        S  NaN
9           1       2  female  14.0      1      0   30.0708        C  NaN
10          1       3  female   4.0      1      1   16.7000        S    G
11          1       1  female  58.0      0      0   26.5500        S    C
12          0       3    male  20.0      0      0    8.0500        S  NaN
13          0       3    male  39.0      1      5   31.2750        S  NaN
14          0       3  female  14.0      0      0    7.8542        S  NaN
15          1       2  female  55.0      0      0   16.0000        S  NaN
16          0       3    male   2.0      4      1   29.1250        Q  NaN
17          1       2    male   NaN      0      0   13.0000        S  NaN
18          0       3  female  31.0      1      0   18.0000        S  NaN
19          1       3  female   NaN      0      0    7.2250        C  NaN
20          0       2    male  35.0      0      0   26.0000        S  NaN
21          1       2    male  34.0      0      0   13.0000        S    D
22          1       3  female  15.0      0      0    8.0292        Q  NaN
23          1       1    male  28.0      0      0   35.5000        S    A
24          0       3  female   8.0      3      1   21.0750        S  NaN
25          1       3  female  38.0      1      5   31.3875        S  NaN
26          0       3    male   NaN      0      0    7.2250        C  NaN
27          0       1    male  19.0      3      2  263.0000        S    C
28          1       3  female   NaN      0      0    7.8792        Q  NaN
29          0       3    male   NaN      0      0    7.8958        S  NaN
..        ...     ...     ...   ...    ...    ...       ...      ...  ...
861         0       2    male  21.0      1      0   11.5000        S  NaN
862         1       1  female  48.0      0      0   25.9292        S    D
863         0       3  female   NaN      8      2   69.5500        S  NaN
864         0       2    male  24.0      0      0   13.0000        S  NaN
865         1       2  female  42.0      0      0   13.0000        S  NaN
866         1       2  female  27.0      1      0   13.8583        C  NaN
867         0       1    male  31.0      0      0   50.4958        S    A
868         0       3    male   NaN      0      0    9.5000        S  NaN
869         1       3    male   4.0      1      1   11.1333        S  NaN
870         0       3    male  26.0      0      0    7.8958        S  NaN
871         1       1  female  47.0      1      1   52.5542        S    D
872         0       1    male  33.0      0      0    5.0000        S    B
873         0       3    male  47.0      0      0    9.0000        S  NaN
874         1       2  female  28.0      1      0   24.0000        C  NaN
875         1       3  female  15.0      0      0    7.2250        C  NaN
876         0       3    male  20.0      0      0    9.8458        S  NaN
877         0       3    male  19.0      0      0    7.8958        S  NaN
878         0       3    male   NaN      0      0    7.8958        S  NaN
879         1       1  female  56.0      0      1   83.1583        C    C
880         1       2  female  25.0      0      1   26.0000        S  NaN
881         0       3    male  33.0      0      0    7.8958        S  NaN
882         0       3  female  22.0      0      0   10.5167        S  NaN
883         0       2    male  28.0      0      0   10.5000        S  NaN
884         0       3    male  25.0      0      0    7.0500        S  NaN
885         0       3  female  39.0      0      5   29.1250        Q  NaN
886         0       2    male  27.0      0      0   13.0000        S  NaN
887         1       1  female  19.0      0      0   30.0000        S    B
888         0       3  female   NaN      1      2   23.4500        S  NaN
889         1       1    male  26.0      0      0   30.0000        C    C
890         0       3    male  32.0      0      0    7.7500        Q  NaN

[891 rows x 9 columns]

#### DataFrames and Python Built-in Functions

In [31]:
type(titanic)

pandas.core.frame.DataFrame

In [32]:
len(titanic)

891

In [33]:
round(titanic, 0)

     survived  pclass     sex   age  sibsp  parch   fare embarked deck
0           0       3    male  22.0      1      0    7.0        S  NaN
1           1       1  female  38.0      1      0   71.0        C    C
2           1       3  female  26.0      0      0    8.0        S  NaN
3           1       1  female  35.0      1      0   53.0        S    C
4           0       3    male  35.0      0      0    8.0        S  NaN
5           0       3    male   NaN      0      0    8.0        Q  NaN
6           0       1    male  54.0      0      0   52.0        S    E
7           0       3    male   2.0      3      1   21.0        S  NaN
8           1       3  female  27.0      0      2   11.0        S  NaN
9           1       2  female  14.0      1      0   30.0        C  NaN
10          1       3  female   4.0      1      1   17.0        S    G
11          1       1  female  58.0      0      0   27.0        S    C
12          0       3    male  20.0      0      0    8.0        S  NaN
13          0       3    male  39.0      1      5   31.0        S  NaN
14          0       3  female  14.0      0      0    8.0        S  NaN
15          1       2  female  55.0      0      0   16.0        S  NaN
16          0       3    male   2.0      4      1   29.0        Q  NaN
17          1       2    male   NaN      0      0   13.0        S  NaN
18          0       3  female  31.0      1      0   18.0        S  NaN
19          1       3  female   NaN      0      0    7.0        C  NaN
20          0       2    male  35.0      0      0   26.0        S  NaN
21          1       2    male  34.0      0      0   13.0        S    D
22          1       3  female  15.0      0      0    8.0        Q  NaN
23          1       1    male  28.0      0      0   36.0        S    A
24          0       3  female   8.0      3      1   21.0        S  NaN
25          1       3  female  38.0      1      5   31.0        S  NaN
26          0       3    male   NaN      0      0    7.0        C  NaN
27          0       1    male  19.0      3      2  263.0        S    C
28          1       3  female   NaN      0      0    8.0        Q  NaN
29          0       3    male   NaN      0      0    8.0        S  NaN
..        ...     ...     ...   ...    ...    ...    ...      ...  ...
861         0       2    male  21.0      1      0   12.0        S  NaN
862         1       1  female  48.0      0      0   26.0        S    D
863         0       3  female   NaN      8      2   70.0        S  NaN
864         0       2    male  24.0      0      0   13.0        S  NaN
865         1       2  female  42.0      0      0   13.0        S  NaN
866         1       2  female  27.0      1      0   14.0        C  NaN
867         0       1    male  31.0      0      0   50.0        S    A
868         0       3    male   NaN      0      0   10.0        S  NaN
869         1       3    male   4.0      1      1   11.0        S  NaN
870         0       3    male  26.0      0      0    8.0        S  NaN
871         1       1  female  47.0      1      1   53.0        S    D
872         0       1    male  33.0      0      0    5.0        S    B
873         0       3    male  47.0      0      0    9.0        S  NaN
874         1       2  female  28.0      1      0   24.0        C  NaN
875         1       3  female  15.0      0      0    7.0        C  NaN
876         0       3    male  20.0      0      0   10.0        S  NaN
877         0       3    male  19.0      0      0    8.0        S  NaN
878         0       3    male   NaN      0      0    8.0        S  NaN
879         1       1  female  56.0      0      1   83.0        C    C
880         1       2  female  25.0      0      1   26.0        S  NaN
881         0       3    male  33.0      0      0    8.0        S  NaN
882         0       3  female  22.0      0      0   11.0        S  NaN
883         0       2    male  28.0      0      0   10.0        S  NaN
884         0       3    male  25.0      0      0    7.0        S  NaN
885         0       3  female  39.0      0      5   29.0        Q  NaN
886         0       2    male  27.0      0      0   13.0        S  NaN
887         1       1  female  19.0      0      0   30.0        S    B
888         0       3  female   NaN      1      2   23.0        S  NaN
889         1       1    male  26.0      0      0   30.0        C    C
890         0       3    male  32.0      0      0    8.0        Q  NaN

[891 rows x 9 columns]

In [34]:
#int(titanic)

In [35]:
min(titanic)

'age'

#### DataFrame Attributes

In [37]:
titanic.shape

(891, 9)

In [38]:
titanic.size

8019

In [39]:
titanic.index

RangeIndex(start=0, stop=891, step=1)

In [40]:
titanic.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'deck'],
      dtype='object')

#### DataFrame Methods

In [42]:
titanic.head(n = 2)

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C

In [43]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [44]:
# titanic.min() # old

In [45]:
titanic.min(numeric_only = True) # new

survived    0.00
pclass      1.00
age         0.42
sibsp       0.00
parch       0.00
fare        0.00
dtype: float64

#### Method Chaining

In [47]:
# titanic.mean().sort_values().head(2) # old

In [48]:
titanic.mean(numeric_only = True).sort_values().head(2) # new

parch       0.381594
survived    0.383838
dtype: float64

### Selecting Columns

In [50]:
titanic

     survived  pclass     sex   age  sibsp  parch      fare embarked deck
0           0       3    male  22.0      1      0    7.2500        S  NaN
1           1       1  female  38.0      1      0   71.2833        C    C
2           1       3  female  26.0      0      0    7.9250        S  NaN
3           1       1  female  35.0      1      0   53.1000        S    C
4           0       3    male  35.0      0      0    8.0500        S  NaN
5           0       3    male   NaN      0      0    8.4583        Q  NaN
6           0       1    male  54.0      0      0   51.8625        S    E
7           0       3    male   2.0      3      1   21.0750        S  NaN
8           1       3  female  27.0      0      2   11.1333        S  NaN
9           1       2  female  14.0      1      0   30.0708        C  NaN
10          1       3  female   4.0      1      1   16.7000        S    G
11          1       1  female  58.0      0      0   26.5500        S    C
12          0       3    male  20.0      0      0    8.0500        S  NaN
13          0       3    male  39.0      1      5   31.2750        S  NaN
14          0       3  female  14.0      0      0    7.8542        S  NaN
15          1       2  female  55.0      0      0   16.0000        S  NaN
16          0       3    male   2.0      4      1   29.1250        Q  NaN
17          1       2    male   NaN      0      0   13.0000        S  NaN
18          0       3  female  31.0      1      0   18.0000        S  NaN
19          1       3  female   NaN      0      0    7.2250        C  NaN
20          0       2    male  35.0      0      0   26.0000        S  NaN
21          1       2    male  34.0      0      0   13.0000        S    D
22          1       3  female  15.0      0      0    8.0292        Q  NaN
23          1       1    male  28.0      0      0   35.5000        S    A
24          0       3  female   8.0      3      1   21.0750        S  NaN
25          1       3  female  38.0      1      5   31.3875        S  NaN
26          0       3    male   NaN      0      0    7.2250        C  NaN
27          0       1    male  19.0      3      2  263.0000        S    C
28          1       3  female   NaN      0      0    7.8792        Q  NaN
29          0       3    male   NaN      0      0    7.8958        S  NaN
..        ...     ...     ...   ...    ...    ...       ...      ...  ...
861         0       2    male  21.0      1      0   11.5000        S  NaN
862         1       1  female  48.0      0      0   25.9292        S    D
863         0       3  female   NaN      8      2   69.5500        S  NaN
864         0       2    male  24.0      0      0   13.0000        S  NaN
865         1       2  female  42.0      0      0   13.0000        S  NaN
866         1       2  female  27.0      1      0   13.8583        C  NaN
867         0       1    male  31.0      0      0   50.4958        S    A
868         0       3    male   NaN      0      0    9.5000        S  NaN
869         1       3    male   4.0      1      1   11.1333        S  NaN
870         0       3    male  26.0      0      0    7.8958        S  NaN
871         1       1  female  47.0      1      1   52.5542        S    D
872         0       1    male  33.0      0      0    5.0000        S    B
873         0       3    male  47.0      0      0    9.0000        S  NaN
874         1       2  female  28.0      1      0   24.0000        C  NaN
875         1       3  female  15.0      0      0    7.2250        C  NaN
876         0       3    male  20.0      0      0    9.8458        S  NaN
877         0       3    male  19.0      0      0    7.8958        S  NaN
878         0       3    male   NaN      0      0    7.8958        S  NaN
879         1       1  female  56.0      0      1   83.1583        C    C
880         1       2  female  25.0      0      1   26.0000        S  NaN
881         0       3    male  33.0      0      0    7.8958        S  NaN
882         0       3  female  22.0      0      0   10.5167        S  NaN
883         0       2    male  28.0      0      0   10.5000        S  NaN
884         0       3    male  25.0      0      0    7.0500        S  NaN
885         0       3  female  39.0      0      5   29.1250        Q  NaN
886         0       2    male  27.0      0      0   13.0000        S  NaN
887         1       1  female  19.0      0      0   30.0000        S    B
888         0       3  female   NaN      1      2   23.4500        S  NaN
889         1       1    male  26.0      0      0   30.0000        C    C
890         0       3    male  32.0      0      0    7.7500        Q  NaN

[891 rows x 9 columns]

In [51]:
titanic["age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
5       NaN
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17      NaN
18     31.0
19      NaN
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26      NaN
27     19.0
28      NaN
29      NaN
       ...
861    21.0
862    48.0
863     NaN
864    24.0
865    42.0
866    27.0
867    31.0
868     NaN
869     4.0
870    26.0
871    47.0
872    33.0
873    47.0
874    28.0
875    15.0
876    20.0
877    19.0
878     NaN
879    56.0
880    25.0
881    33.0
882    22.0
883    28.0
884    25.0
885    39.0
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [52]:
type(titanic["age"])

pandas.core.series.Series

In [53]:
#titanic["age", "sex"]

In [54]:
titanic[["age", "sex"]]

      age     sex
0    22.0    male
1    38.0  female
2    26.0  female
3    35.0  female
4    35.0    male
5     NaN    male
6    54.0    male
7     2.0    male
8    27.0  female
9    14.0  female
10    4.0  female
11   58.0  female
12   20.0    male
13   39.0    male
14   14.0  female
15   55.0  female
16    2.0    male
17    NaN    male
18   31.0  female
19    NaN  female
20   35.0    male
21   34.0    male
22   15.0  female
23   28.0    male
24    8.0  female
25   38.0  female
26    NaN    male
27   19.0    male
28    NaN  female
29    NaN    male
..    ...     ...
861  21.0    male
862  48.0  female
863   NaN  female
864  24.0    male
865  42.0  female
866  27.0  female
867  31.0    male
868   NaN    male
869   4.0    male
870  26.0    male
871  47.0  female
872  33.0    male
873  47.0    male
874  28.0  female
875  15.0  female
876  20.0    male
877  19.0    male
878   NaN    male
879  56.0  female
880  25.0  female
881  33.0    male
882  22.0  female
883  28.0    male
884  25.0    male
885  39.0  female
886  27.0    male
887  19.0  female
888   NaN  female
889  26.0    male
890  32.0    male

[891 rows x 2 columns]

In [55]:
type(titanic[["age", "sex"]])

pandas.core.frame.DataFrame

In [56]:
titanic[["sex", "age"]]

        sex   age
0      male  22.0
1    female  38.0
2    female  26.0
3    female  35.0
4      male  35.0
5      male   NaN
6      male  54.0
7      male   2.0
8    female  27.0
9    female  14.0
10   female   4.0
11   female  58.0
12     male  20.0
13     male  39.0
14   female  14.0
15   female  55.0
16     male   2.0
17     male   NaN
18   female  31.0
19   female   NaN
20     male  35.0
21     male  34.0
22   female  15.0
23     male  28.0
24   female   8.0
25   female  38.0
26     male   NaN
27     male  19.0
28   female   NaN
29     male   NaN
..      ...   ...
861    male  21.0
862  female  48.0
863  female   NaN
864    male  24.0
865  female  42.0
866  female  27.0
867    male  31.0
868    male   NaN
869    male   4.0
870    male  26.0
871  female  47.0
872    male  33.0
873    male  47.0
874  female  28.0
875  female  15.0
876    male  20.0
877    male  19.0
878    male   NaN
879  female  56.0
880  female  25.0
881    male  33.0
882  female  22.0
883    male  28.0
884    male  25.0
885  female  39.0
886    male  27.0
887  female  19.0
888  female   NaN
889    male  26.0
890    male  32.0

[891 rows x 2 columns]

In [57]:
titanic[["sex", "age", "fare"]]

        sex   age      fare
0      male  22.0    7.2500
1    female  38.0   71.2833
2    female  26.0    7.9250
3    female  35.0   53.1000
4      male  35.0    8.0500
5      male   NaN    8.4583
6      male  54.0   51.8625
7      male   2.0   21.0750
8    female  27.0   11.1333
9    female  14.0   30.0708
10   female   4.0   16.7000
11   female  58.0   26.5500
12     male  20.0    8.0500
13     male  39.0   31.2750
14   female  14.0    7.8542
15   female  55.0   16.0000
16     male   2.0   29.1250
17     male   NaN   13.0000
18   female  31.0   18.0000
19   female   NaN    7.2250
20     male  35.0   26.0000
21     male  34.0   13.0000
22   female  15.0    8.0292
23     male  28.0   35.5000
24   female   8.0   21.0750
25   female  38.0   31.3875
26     male   NaN    7.2250
27     male  19.0  263.0000
28   female   NaN    7.8792
29     male   NaN    7.8958
..      ...   ...       ...
861    male  21.0   11.5000
862  female  48.0   25.9292
863  female   NaN   69.5500
864    male  24.0   13.0000
865  female  42.0   13.0000
866  female  27.0   13.8583
867    male  31.0   50.4958
868    male   NaN    9.5000
869    male   4.0   11.1333
870    male  26.0    7.8958
871  female  47.0   52.5542
872    male  33.0    5.0000
873    male  47.0    9.0000
874  female  28.0   24.0000
875  female  15.0    7.2250
876    male  20.0    9.8458
877    male  19.0    7.8958
878    male   NaN    7.8958
879  female  56.0   83.1583
880  female  25.0   26.0000
881    male  33.0    7.8958
882  female  22.0   10.5167
883    male  28.0   10.5000
884    male  25.0    7.0500
885  female  39.0   29.1250
886    male  27.0   13.0000
887  female  19.0   30.0000
888  female   NaN   23.4500
889    male  26.0   30.0000
890    male  32.0    7.7500

[891 rows x 3 columns]

In [58]:
type(titanic[["age"]])

pandas.core.frame.DataFrame

### Selecting one Column with "dot notation"

In [60]:
titanic.age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
5       NaN
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17      NaN
18     31.0
19      NaN
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26      NaN
27     19.0
28      NaN
29      NaN
       ...
861    21.0
862    48.0
863     NaN
864    24.0
865    42.0
866    27.0
867    31.0
868     NaN
869     4.0
870    26.0
871    47.0
872    33.0
873    47.0
874    28.0
875    15.0
876    20.0
877    19.0
878     NaN
879    56.0
880    25.0
881    33.0
882    22.0
883    28.0
884    25.0
885    39.0
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [61]:
titanic.age.equals(titanic["age"])

True

In [62]:
titanic.embarked

0      S
1      C
2      S
3      S
4      S
5      Q
6      S
7      S
8      S
9      C
10     S
11     S
12     S
13     S
14     S
15     S
16     Q
17     S
18     S
19     C
20     S
21     S
22     Q
23     S
24     S
25     S
26     C
27     S
28     Q
29     S
      ..
861    S
862    S
863    S
864    S
865    S
866    C
867    S
868    S
869    S
870    S
871    S
872    S
873    S
874    C
875    C
876    S
877    S
878    S
879    C
880    S
881    S
882    S
883    S
884    S
885    Q
886    S
887    S
888    S
889    C
890    Q
Name: embarked, Length: 891, dtype: object

### Position-based Indexing and Slicing with iloc[]

In [64]:
import pandas as pd

In [65]:
summer = pd.read_csv("summer.csv", index_col = "Athlete")

In [66]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Bronze
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,1200M Freestyle,Gold
"ANDREOU, Joannis",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Bronze
"NEUMANN, Paul",1896,Athens,Aquatics,Swimming,AUT,Men,400M Freestyle,Gold
"PEPANOS, Antonios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Silver
"LANE, Francis",1896,Athens,Athletics,Athletics,USA,Men,100M,Bronze
"SZOKOLYI, Alajos",1896,Athens,Athletics,Athletics,HUN,Men,100M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,100M,Gold
"HOFMANN, Fritz",1896,Athens,Athletics,Athletics,GER,Men,100M,Silver
"CURTIS, Thomas",1896,Athens,Athletics,Athletics,USA,Men,110M Hurdles,Gold
"GOULDING, Grantley",1896,Athens,Athletics,Athletics,GBR,Men,110M Hurdles,Silver
"LERMUSIAUX, Albin",1896,Athens,Athletics,Athletics,FRA,Men,1500M,Bronze
"FLACK, Edwin",1896,Athens,Athletics,Athletics,AUS,Men,1500M,Gold
"BLAKE, Arthur",1896,Athens,Athletics,Athletics,USA,Men,1500M,Silver
"GMELIN, Charles",1896,Athens,Athletics,Athletics,GBR,Men,400M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,400M,Gold
"JAMISON, Herbert",1896,Athens,Athletics,Athletics,USA,Men,400M,Silver
"GOLEMIS, Dimitrios",1896,Athens,Athletics,Athletics,GRE,Men,800M,Bronze
"FLACK, Edwin",1896,Athens,Athletics,Athletics,AUS,Men,800M,Gold
"DANI, Nandor",1896,Athens,Athletics,Athletics,HUN,Men,800M,Silver
"VERSIS, Sotirios",1896,Athens,Athletics,Athletics,GRE,Men,Discus Throw,Bronze
"GARRETT, Robert",1896,Athens,Athletics,Athletics,USA,Men,Discus Throw,Gold
"PARASKEVOPOULOS, Panagiotis",1896,Athens,Athletics,Athletics,GRE,Men,Discus Throw,Silver
"CLARK, Ellery",1896,Athens,Athletics,Athletics,USA,Men,High Jump,Gold
...,...,...,...,...,...,...,...,...
"GAZYUMOV, Khetag",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wf 96 KG,Bronze
"GOGSHELIDZE, George",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wf 96 KG,Bronze
"LOPEZ NUNEZ, Mijain",2012,London,Wrestling,Wrestling Freestyle,CUB,Men,Wg 120 KG,Gold
"NABI, Heiki",2012,London,Wrestling,Wrestling Freestyle,EST,Men,Wg 120 KG,Silver
"EUREN, Johan",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 120 KG,Bronze
"KAYAALP, Riza",2012,London,Wrestling,Wrestling Freestyle,TUR,Men,Wg 120 KG,Bronze
"SORYAN REIHANPOUR, Hamid Mohammad",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 55 KG,Gold
"BAYRAMOV, Rovshan",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wg 55 KG,Silver
"MODOS, Peter",2012,London,Wrestling,Wrestling Freestyle,HUN,Men,Wg 55 KG,Bronze
"SEMENOV, Mingiyan",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 55 KG,Bronze
"NOROOZI, Omid Haji",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 60 KG,Gold
"LASHKHI, Revaz",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wg 60 KG,Silver
"KURAMAGOMEDOV, Zaur",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 60 KG,Bronze
"MATSUMOTO, Ryutaro",2012,London,Wrestling,Wrestling Freestyle,JPN,Men,Wg 60 KG,Bronze
"KIM, Hyeonwoo",2012,London,Wrestling,Wrestling Freestyle,KOR,Men,Wg 66 KG,Gold
"LORINCZ, Tamas",2012,London,Wrestling,Wrestling Freestyle,HUN,Men,Wg 66 KG,Silver
"GUENOT, Steeve",2012,London,Wrestling,Wrestling Freestyle,FRA,Men,Wg 66 KG,Bronze
"TSKHADAIA, Manuchar",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wg 66 KG,Bronze
"VLASOV, Roman",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 74 KG,Gold
"JULFALAKYAN, Arsen",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 74 KG,Silver
"AHMADOV, Emin",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wg 74 KG,Bronze
"KAZAKEVIC, Aleksandr",2012,London,Wrestling,Wrestling Freestyle,LTU,Men,Wg 74 KG,Bronze
"KHUGAEV, Alan",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 84 KG,Gold
"EBRAHIM, Karam Mohamed Gaber",2012,London,Wrestling,Wrestling Freestyle,EGY,Men,Wg 84 KG,Silver
"GAJIYEV, Danyal",2012,London,Wrestling,Wrestling Freestyle,KAZ,Men,Wg 84 KG,Bronze
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [67]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31165 entries, HAJOS, Alfred to LIDBERG, Jimmy
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Country     31161 non-null  object
 5   Gender      31165 non-null  object
 6   Event       31165 non-null  object
 7   Medal       31165 non-null  object
dtypes: int64(1), object(7)
memory usage: 2.1+ MB

#### Selecting Rows with iloc[]

In [69]:
summer.iloc[0]

Year                    1896
City                  Athens
Sport               Aquatics
Discipline          Swimming
Country                  HUN
Gender                   Men
Event         100M Freestyle
Medal                   Gold
Name: HAJOS, Alfred, dtype: object

In [70]:
type(summer.iloc[0])

pandas.core.series.Series

In [71]:
summer.iloc[1]

Year                    1896
City                  Athens
Sport               Aquatics
Discipline          Swimming
Country                  AUT
Gender                   Men
Event         100M Freestyle
Medal                 Silver
Name: HERSCHMANN, Otto, dtype: object

In [72]:
summer.iloc[-1]

Year                         2012
City                       London
Sport                   Wrestling
Discipline    Wrestling Freestyle
Country                       SWE
Gender                        Men
Event                    Wg 96 KG
Medal                      Bronze
Name: LIDBERG, Jimmy, dtype: object

In [73]:
summer.iloc[[1, 2, 3]]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold

In [74]:
summer.iloc[1:4]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold

In [75]:
summer.iloc[:5]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [76]:
summer.iloc[-5:]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [77]:
summer.iloc[:]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Bronze
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,1200M Freestyle,Gold
"ANDREOU, Joannis",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Bronze
"NEUMANN, Paul",1896,Athens,Aquatics,Swimming,AUT,Men,400M Freestyle,Gold
"PEPANOS, Antonios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Silver
"LANE, Francis",1896,Athens,Athletics,Athletics,USA,Men,100M,Bronze
"SZOKOLYI, Alajos",1896,Athens,Athletics,Athletics,HUN,Men,100M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,100M,Gold
"HOFMANN, Fritz",1896,Athens,Athletics,Athletics,GER,Men,100M,Silver
"CURTIS, Thomas",1896,Athens,Athletics,Athletics,USA,Men,110M Hurdles,Gold
"GOULDING, Grantley",1896,Athens,Athletics,Athletics,GBR,Men,110M Hurdles,Silver
"LERMUSIAUX, Albin",1896,Athens,Athletics,Athletics,FRA,Men,1500M,Bronze
"FLACK, Edwin",1896,Athens,Athletics,Athletics,AUS,Men,1500M,Gold
"BLAKE, Arthur",1896,Athens,Athletics,Athletics,USA,Men,1500M,Silver
"GMELIN, Charles",1896,Athens,Athletics,Athletics,GBR,Men,400M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,400M,Gold
"JAMISON, Herbert",1896,Athens,Athletics,Athletics,USA,Men,400M,Silver
"GOLEMIS, Dimitrios",1896,Athens,Athletics,Athletics,GRE,Men,800M,Bronze
"FLACK, Edwin",1896,Athens,Athletics,Athletics,AUS,Men,800M,Gold
"DANI, Nandor",1896,Athens,Athletics,Athletics,HUN,Men,800M,Silver
"VERSIS, Sotirios",1896,Athens,Athletics,Athletics,GRE,Men,Discus Throw,Bronze
"GARRETT, Robert",1896,Athens,Athletics,Athletics,USA,Men,Discus Throw,Gold
"PARASKEVOPOULOS, Panagiotis",1896,Athens,Athletics,Athletics,GRE,Men,Discus Throw,Silver
"CLARK, Ellery",1896,Athens,Athletics,Athletics,USA,Men,High Jump,Gold
...,...,...,...,...,...,...,...,...
"GAZYUMOV, Khetag",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wf 96 KG,Bronze
"GOGSHELIDZE, George",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wf 96 KG,Bronze
"LOPEZ NUNEZ, Mijain",2012,London,Wrestling,Wrestling Freestyle,CUB,Men,Wg 120 KG,Gold
"NABI, Heiki",2012,London,Wrestling,Wrestling Freestyle,EST,Men,Wg 120 KG,Silver
"EUREN, Johan",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 120 KG,Bronze
"KAYAALP, Riza",2012,London,Wrestling,Wrestling Freestyle,TUR,Men,Wg 120 KG,Bronze
"SORYAN REIHANPOUR, Hamid Mohammad",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 55 KG,Gold
"BAYRAMOV, Rovshan",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wg 55 KG,Silver
"MODOS, Peter",2012,London,Wrestling,Wrestling Freestyle,HUN,Men,Wg 55 KG,Bronze
"SEMENOV, Mingiyan",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 55 KG,Bronze
"NOROOZI, Omid Haji",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 60 KG,Gold
"LASHKHI, Revaz",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wg 60 KG,Silver
"KURAMAGOMEDOV, Zaur",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 60 KG,Bronze
"MATSUMOTO, Ryutaro",2012,London,Wrestling,Wrestling Freestyle,JPN,Men,Wg 60 KG,Bronze
"KIM, Hyeonwoo",2012,London,Wrestling,Wrestling Freestyle,KOR,Men,Wg 66 KG,Gold
"LORINCZ, Tamas",2012,London,Wrestling,Wrestling Freestyle,HUN,Men,Wg 66 KG,Silver
"GUENOT, Steeve",2012,London,Wrestling,Wrestling Freestyle,FRA,Men,Wg 66 KG,Bronze
"TSKHADAIA, Manuchar",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wg 66 KG,Bronze
"VLASOV, Roman",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 74 KG,Gold
"JULFALAKYAN, Arsen",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 74 KG,Silver
"AHMADOV, Emin",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wg 74 KG,Bronze
"KAZAKEVIC, Aleksandr",2012,London,Wrestling,Wrestling Freestyle,LTU,Men,Wg 74 KG,Bronze
"KHUGAEV, Alan",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 84 KG,Gold
"EBRAHIM, Karam Mohamed Gaber",2012,London,Wrestling,Wrestling Freestyle,EGY,Men,Wg 84 KG,Silver
"GAJIYEV, Danyal",2012,London,Wrestling,Wrestling Freestyle,KAZ,Men,Wg 84 KG,Bronze
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [78]:
summer.iloc[[2, 45, 5467]]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"PERSAKIS, Ioannis",1896,Athens,Athletics,Athletics,GRE,Men,Triple Jump,Bronze
"POLAK, Ans",1928,Amsterdam,Gymnastics,Artistic G.,NED,Women,Team Competition,Gold

#### Indexing/Slicing Rows and Columns with iloc[]

In [80]:
summer.head(10)

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Bronze
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,1200M Freestyle,Gold
"ANDREOU, Joannis",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Bronze
"NEUMANN, Paul",1896,Athens,Aquatics,Swimming,AUT,Men,400M Freestyle,Gold

In [81]:
summer.iloc[0, 4]

'HUN'

In [82]:
summer.iloc[0, :3]

Year         1896
City       Athens
Sport    Aquatics
Name: HAJOS, Alfred, dtype: object

In [83]:
summer.iloc[0, [0, 2, 5, 7]]

Year          1896
Sport     Aquatics
Gender         Men
Medal         Gold
Name: HAJOS, Alfred, dtype: object

In [84]:
summer.iloc[34:39, [0, 2, 5, 7]]

                      Year      Sport Gender   Medal
Athlete
GARRETT, Robert       1896  Athletics    Men  Silver
KELLNER, Gyula        1896  Athletics    Men  Bronze
LOUIS, Spyridon       1896  Athletics    Men    Gold
VASILAKOS, Kharilaos  1896  Athletics    Men  Silver
DAMASKOS, Evangelos   1896  Athletics    Men  Bronze

#### Selecting Columns with iloc[]

In [86]:
summer.iloc[:, 4].equals(summer.Country)

True

In [87]:
summer["Country"]

Athlete
HAJOS, Alfred                        HUN
HERSCHMANN, Otto                     AUT
DRIVAS, Dimitrios                    GRE
MALOKINIS, Ioannis                   GRE
CHASAPIS, Spiridon                   GRE
CHOROPHAS, Efstathios                GRE
HAJOS, Alfred                        HUN
ANDREOU, Joannis                     GRE
CHOROPHAS, Efstathios                GRE
NEUMANN, Paul                        AUT
PEPANOS, Antonios                    GRE
LANE, Francis                        USA
SZOKOLYI, Alajos                     HUN
BURKE, Thomas                        USA
HOFMANN, Fritz                       GER
CURTIS, Thomas                       USA
GOULDING, Grantley                   GBR
LERMUSIAUX, Albin                    FRA
FLACK, Edwin                         AUS
BLAKE, Arthur                        USA
GMELIN, Charles                      GBR
BURKE, Thomas                        USA
JAMISON, Herbert                     USA
GOLEMIS, Dimitrios                   GRE
FLACK, Edwin                         AUS
DANI, Nandor                         HUN
VERSIS, Sotirios                     GRE
GARRETT, Robert                      USA
PARASKEVOPOULOS, Panagiotis          GRE
CLARK, Ellery                        USA
                                    ...
GAZYUMOV, Khetag                     AZE
GOGSHELIDZE, George                  GEO
LOPEZ NUNEZ, Mijain                  CUB
NABI, Heiki                          EST
EUREN, Johan                         SWE
KAYAALP, Riza                        TUR
SORYAN REIHANPOUR, Hamid Mohammad    IRI
BAYRAMOV, Rovshan                    AZE
MODOS, Peter                         HUN
SEMENOV, Mingiyan                    RUS
NOROOZI, Omid Haji                   IRI
LASHKHI, Revaz                       GEO
KURAMAGOMEDOV, Zaur                  RUS
MATSUMOTO, Ryutaro                   JPN
KIM, Hyeonwoo                        KOR
LORINCZ, Tamas                       HUN
GUENOT, Steeve                       FRA
TSKHADAIA, Manuchar                  GEO
VLASOV, Roman                        RUS
JULFALAKYAN, Arsen                   ARM
AHMADOV, Emin                        AZE
KAZAKEVIC, Aleksandr                 LTU
KHUGAEV, Alan                        RUS
EBRAHIM, Karam Mohamed Gaber         EGY
GAJIYEV, Danyal                      KAZ
JANIKOWSKI, Damian                   POL
REZAEI, Ghasem Gholamreza            IRI
TOTROV, Rustam                       RUS
ALEKSANYAN, Artur                    ARM
LIDBERG, Jimmy                       SWE
Name: Country, Length: 31165, dtype: object

### Label-based Indexing and Slicing with loc[]

In [89]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Bronze
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,1200M Freestyle,Gold
"ANDREOU, Joannis",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Bronze
"NEUMANN, Paul",1896,Athens,Aquatics,Swimming,AUT,Men,400M Freestyle,Gold
"PEPANOS, Antonios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Silver
"LANE, Francis",1896,Athens,Athletics,Athletics,USA,Men,100M,Bronze
"SZOKOLYI, Alajos",1896,Athens,Athletics,Athletics,HUN,Men,100M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,100M,Gold
"HOFMANN, Fritz",1896,Athens,Athletics,Athletics,GER,Men,100M,Silver
"CURTIS, Thomas",1896,Athens,Athletics,Athletics,USA,Men,110M Hurdles,Gold
"GOULDING, Grantley",1896,Athens,Athletics,Athletics,GBR,Men,110M Hurdles,Silver
"LERMUSIAUX, Albin",1896,Athens,Athletics,Athletics,FRA,Men,1500M,Bronze
"FLACK, Edwin",1896,Athens,Athletics,Athletics,AUS,Men,1500M,Gold
"BLAKE, Arthur",1896,Athens,Athletics,Athletics,USA,Men,1500M,Silver
"GMELIN, Charles",1896,Athens,Athletics,Athletics,GBR,Men,400M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,400M,Gold
"JAMISON, Herbert",1896,Athens,Athletics,Athletics,USA,Men,400M,Silver
"GOLEMIS, Dimitrios",1896,Athens,Athletics,Athletics,GRE,Men,800M,Bronze
"FLACK, Edwin",1896,Athens,Athletics,Athletics,AUS,Men,800M,Gold
"DANI, Nandor",1896,Athens,Athletics,Athletics,HUN,Men,800M,Silver
"VERSIS, Sotirios",1896,Athens,Athletics,Athletics,GRE,Men,Discus Throw,Bronze
"GARRETT, Robert",1896,Athens,Athletics,Athletics,USA,Men,Discus Throw,Gold
"PARASKEVOPOULOS, Panagiotis",1896,Athens,Athletics,Athletics,GRE,Men,Discus Throw,Silver
"CLARK, Ellery",1896,Athens,Athletics,Athletics,USA,Men,High Jump,Gold
...,...,...,...,...,...,...,...,...
"GAZYUMOV, Khetag",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wf 96 KG,Bronze
"GOGSHELIDZE, George",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wf 96 KG,Bronze
"LOPEZ NUNEZ, Mijain",2012,London,Wrestling,Wrestling Freestyle,CUB,Men,Wg 120 KG,Gold
"NABI, Heiki",2012,London,Wrestling,Wrestling Freestyle,EST,Men,Wg 120 KG,Silver
"EUREN, Johan",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 120 KG,Bronze
"KAYAALP, Riza",2012,London,Wrestling,Wrestling Freestyle,TUR,Men,Wg 120 KG,Bronze
"SORYAN REIHANPOUR, Hamid Mohammad",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 55 KG,Gold
"BAYRAMOV, Rovshan",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wg 55 KG,Silver
"MODOS, Peter",2012,London,Wrestling,Wrestling Freestyle,HUN,Men,Wg 55 KG,Bronze
"SEMENOV, Mingiyan",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 55 KG,Bronze
"NOROOZI, Omid Haji",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 60 KG,Gold
"LASHKHI, Revaz",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wg 60 KG,Silver
"KURAMAGOMEDOV, Zaur",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 60 KG,Bronze
"MATSUMOTO, Ryutaro",2012,London,Wrestling,Wrestling Freestyle,JPN,Men,Wg 60 KG,Bronze
"KIM, Hyeonwoo",2012,London,Wrestling,Wrestling Freestyle,KOR,Men,Wg 66 KG,Gold
"LORINCZ, Tamas",2012,London,Wrestling,Wrestling Freestyle,HUN,Men,Wg 66 KG,Silver
"GUENOT, Steeve",2012,London,Wrestling,Wrestling Freestyle,FRA,Men,Wg 66 KG,Bronze
"TSKHADAIA, Manuchar",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wg 66 KG,Bronze
"VLASOV, Roman",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 74 KG,Gold
"JULFALAKYAN, Arsen",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 74 KG,Silver
"AHMADOV, Emin",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wg 74 KG,Bronze
"KAZAKEVIC, Aleksandr",2012,London,Wrestling,Wrestling Freestyle,LTU,Men,Wg 74 KG,Bronze
"KHUGAEV, Alan",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 84 KG,Gold
"EBRAHIM, Karam Mohamed Gaber",2012,London,Wrestling,Wrestling Freestyle,EGY,Men,Wg 84 KG,Silver
"GAJIYEV, Danyal",2012,London,Wrestling,Wrestling Freestyle,KAZ,Men,Wg 84 KG,Bronze
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

#### Selecting Rows with loc[]

In [91]:
summer.iloc[2]

Year                                1896
City                              Athens
Sport                           Aquatics
Discipline                      Swimming
Country                              GRE
Gender                               Men
Event         100M Freestyle For Sailors
Medal                             Bronze
Name: DRIVAS, Dimitrios, dtype: object

In [92]:
summer.loc["DRIVAS, Dimitrios"]

Year                                1896
City                              Athens
Sport                           Aquatics
Discipline                      Swimming
Country                              GRE
Gender                               Men
Event         100M Freestyle For Sailors
Medal                             Bronze
Name: DRIVAS, Dimitrios, dtype: object

In [93]:
summer.loc["PHELPS, Michael"]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,100M Butterfly,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Butterfly,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Freestyle,Bronze
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Individual Medley,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,400M Individual Medley,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Medley Relay,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,4X200M Freestyle Relay,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,100M Butterfly,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,200M Butterfly,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,200M Freestyle,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,200M Individual Medley,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,400M Individual Medley,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,4X100M Medley Relay,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,4X200M Freestyle Relay,Gold
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,100M Butterfly,Gold
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,200M Butterfly,Silver
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,200M Medley,Gold
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,4X100M Freestyle,Silver
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,4X100M Medley,Gold
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,4X200M Freestyle,Gold

#### Indexing/Slicing Rows and Columns with loc[]

In [95]:
summer.loc["PHELPS, Michael", "Medal"]

Athlete
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael    Bronze
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael    Bronze
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael    Silver
PHELPS, Michael      Gold
PHELPS, Michael    Silver
PHELPS, Michael      Gold
PHELPS, Michael      Gold
Name: Medal, dtype: object

In [96]:
summer.loc["PHELPS, Michael", ["Medal", "Event"]]

                  Medal                   Event
Athlete
PHELPS, Michael    Gold          100M Butterfly
PHELPS, Michael    Gold          200M Butterfly
PHELPS, Michael  Bronze          200M Freestyle
PHELPS, Michael    Gold  200M Individual Medley
PHELPS, Michael    Gold  400M Individual Medley
PHELPS, Michael  Bronze  4X100M Freestyle Relay
PHELPS, Michael    Gold     4X100M Medley Relay
PHELPS, Michael    Gold  4X200M Freestyle Relay
PHELPS, Michael    Gold          100M Butterfly
PHELPS, Michael    Gold          200M Butterfly
PHELPS, Michael    Gold          200M Freestyle
PHELPS, Michael    Gold  200M Individual Medley
PHELPS, Michael    Gold  400M Individual Medley
PHELPS, Michael    Gold  4X100M Freestyle Relay
PHELPS, Michael    Gold     4X100M Medley Relay
PHELPS, Michael    Gold  4X200M Freestyle Relay
PHELPS, Michael    Gold          100M Butterfly
PHELPS, Michael  Silver          200M Butterfly
PHELPS, Michael    Gold             200M Medley
PHELPS, Michael  Silver        4X100M Freestyle
PHELPS, Michael    Gold           4X100M Medley
PHELPS, Michael    Gold        4X200M Freestyle

In [97]:
summer.loc[["PHELPS, Michael", "LEWIS, Carl"], ["Medal", "Event"]]

                  Medal                   Event
Athlete
PHELPS, Michael    Gold          100M Butterfly
PHELPS, Michael    Gold          200M Butterfly
PHELPS, Michael  Bronze          200M Freestyle
PHELPS, Michael    Gold  200M Individual Medley
PHELPS, Michael    Gold  400M Individual Medley
PHELPS, Michael  Bronze  4X100M Freestyle Relay
PHELPS, Michael    Gold     4X100M Medley Relay
PHELPS, Michael    Gold  4X200M Freestyle Relay
PHELPS, Michael    Gold          100M Butterfly
PHELPS, Michael    Gold          200M Butterfly
PHELPS, Michael    Gold          200M Freestyle
PHELPS, Michael    Gold  200M Individual Medley
PHELPS, Michael    Gold  400M Individual Medley
PHELPS, Michael    Gold  4X100M Freestyle Relay
PHELPS, Michael    Gold     4X100M Medley Relay
PHELPS, Michael    Gold  4X200M Freestyle Relay
PHELPS, Michael    Gold          100M Butterfly
PHELPS, Michael  Silver          200M Butterfly
PHELPS, Michael    Gold             200M Medley
PHELPS, Michael  Silver        4X100M Freestyle
PHELPS, Michael    Gold           4X100M Medley
PHELPS, Michael    Gold        4X200M Freestyle
LEWIS, Carl        Gold                    100M
LEWIS, Carl        Gold                    200M
LEWIS, Carl        Gold            4X100M Relay
LEWIS, Carl        Gold               Long Jump
LEWIS, Carl        Gold                    100M
LEWIS, Carl      Silver                    200M
LEWIS, Carl        Gold               Long Jump
LEWIS, Carl        Gold            4X100M Relay
LEWIS, Carl        Gold               Long Jump
LEWIS, Carl        Gold               Long Jump

In [98]:
summer.loc[:, ["Medal", "Event"]]

                                    Medal                       Event
Athlete
HAJOS, Alfred                        Gold              100M Freestyle
HERSCHMANN, Otto                   Silver              100M Freestyle
DRIVAS, Dimitrios                  Bronze  100M Freestyle For Sailors
MALOKINIS, Ioannis                   Gold  100M Freestyle For Sailors
CHASAPIS, Spiridon                 Silver  100M Freestyle For Sailors
CHOROPHAS, Efstathios              Bronze             1200M Freestyle
HAJOS, Alfred                        Gold             1200M Freestyle
ANDREOU, Joannis                   Silver             1200M Freestyle
CHOROPHAS, Efstathios              Bronze              400M Freestyle
NEUMANN, Paul                        Gold              400M Freestyle
PEPANOS, Antonios                  Silver              400M Freestyle
LANE, Francis                      Bronze                        100M
SZOKOLYI, Alajos                   Bronze                        100M
BURKE, Thomas                        Gold                        100M
HOFMANN, Fritz                     Silver                        100M
CURTIS, Thomas                       Gold                110M Hurdles
GOULDING, Grantley                 Silver                110M Hurdles
LERMUSIAUX, Albin                  Bronze                       1500M
FLACK, Edwin                         Gold                       1500M
BLAKE, Arthur                      Silver                       1500M
GMELIN, Charles                    Bronze                        400M
BURKE, Thomas                        Gold                        400M
JAMISON, Herbert                   Silver                        400M
GOLEMIS, Dimitrios                 Bronze                        800M
FLACK, Edwin                         Gold                        800M
DANI, Nandor                       Silver                        800M
VERSIS, Sotirios                   Bronze                Discus Throw
GARRETT, Robert                      Gold                Discus Throw
PARASKEVOPOULOS, Panagiotis        Silver                Discus Throw
CLARK, Ellery                        Gold                   High Jump
...                                   ...                         ...
GAZYUMOV, Khetag                   Bronze                    Wf 96 KG
GOGSHELIDZE, George                Bronze                    Wf 96 KG
LOPEZ NUNEZ, Mijain                  Gold                   Wg 120 KG
NABI, Heiki                        Silver                   Wg 120 KG
EUREN, Johan                       Bronze                   Wg 120 KG
KAYAALP, Riza                      Bronze                   Wg 120 KG
SORYAN REIHANPOUR, Hamid Mohammad    Gold                    Wg 55 KG
BAYRAMOV, Rovshan                  Silver                    Wg 55 KG
MODOS, Peter                       Bronze                    Wg 55 KG
SEMENOV, Mingiyan                  Bronze                    Wg 55 KG
NOROOZI, Omid Haji                   Gold                    Wg 60 KG
LASHKHI, Revaz                     Silver                    Wg 60 KG
KURAMAGOMEDOV, Zaur                Bronze                    Wg 60 KG
MATSUMOTO, Ryutaro                 Bronze                    Wg 60 KG
KIM, Hyeonwoo                        Gold                    Wg 66 KG
LORINCZ, Tamas                     Silver                    Wg 66 KG
GUENOT, Steeve                     Bronze                    Wg 66 KG
TSKHADAIA, Manuchar                Bronze                    Wg 66 KG
VLASOV, Roman                        Gold                    Wg 74 KG
JULFALAKYAN, Arsen                 Silver                    Wg 74 KG
AHMADOV, Emin                      Bronze                    Wg 74 KG
KAZAKEVIC, Aleksandr               Bronze                    Wg 74 KG
KHUGAEV, Alan                        Gold                    Wg 84 KG
EBRAHIM, Karam Mohamed Gaber       Silver                    Wg 84 KG
GAJIYEV, Danyal                    Bronze                    Wg 84 KG
JANIKOWSKI, Damian                 Bronze                    Wg 84 KG
REZAEI, Ghasem Gholamreza            Gold                    Wg 96 KG
TOTROV, Rustam                     Silver                    Wg 96 KG
ALEKSANYAN, Artur                  Bronze                    Wg 96 KG
LIDBERG, Jimmy                     Bronze                    Wg 96 KG

[31165 rows x 2 columns]

In [99]:
summer.head(10)

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Bronze
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,1200M Freestyle,Gold
"ANDREOU, Joannis",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Bronze
"NEUMANN, Paul",1896,Athens,Aquatics,Swimming,AUT,Men,400M Freestyle,Gold

In [100]:
summer.loc[:"CHASAPIS, Spiridon"]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [101]:
#summer.loc[:"PHELPS, Michael"]

In [102]:
#summer.loc["PHELPS, Michael":]

In [103]:
summer.head(20)

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Bronze
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,1200M Freestyle,Gold
"ANDREOU, Joannis",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Bronze
"NEUMANN, Paul",1896,Athens,Aquatics,Swimming,AUT,Men,400M Freestyle,Gold
"PEPANOS, Antonios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Silver
"LANE, Francis",1896,Athens,Athletics,Athletics,USA,Men,100M,Bronze
"SZOKOLYI, Alajos",1896,Athens,Athletics,Athletics,HUN,Men,100M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,100M,Gold
"HOFMANN, Fritz",1896,Athens,Athletics,Athletics,GER,Men,100M,Silver
"CURTIS, Thomas",1896,Athens,Athletics,Athletics,USA,Men,110M Hurdles,Gold
"GOULDING, Grantley",1896,Athens,Athletics,Athletics,GBR,Men,110M Hurdles,Silver
"LERMUSIAUX, Albin",1896,Athens,Athletics,Athletics,FRA,Men,1500M,Bronze
"FLACK, Edwin",1896,Athens,Athletics,Athletics,AUS,Men,1500M,Gold
"BLAKE, Arthur",1896,Athens,Athletics,Athletics,USA,Men,1500M,Silver

In [104]:
summer.loc["DRIVAS, Dimitrios":"BLAKE, Arthur", "City":"Discipline"]

                         City      Sport Discipline
Athlete
DRIVAS, Dimitrios      Athens   Aquatics   Swimming
MALOKINIS, Ioannis     Athens   Aquatics   Swimming
CHASAPIS, Spiridon     Athens   Aquatics   Swimming
CHOROPHAS, Efstathios  Athens   Aquatics   Swimming
HAJOS, Alfred          Athens   Aquatics   Swimming
ANDREOU, Joannis       Athens   Aquatics   Swimming
CHOROPHAS, Efstathios  Athens   Aquatics   Swimming
NEUMANN, Paul          Athens   Aquatics   Swimming
PEPANOS, Antonios      Athens   Aquatics   Swimming
LANE, Francis          Athens  Athletics  Athletics
SZOKOLYI, Alajos       Athens  Athletics  Athletics
BURKE, Thomas          Athens  Athletics  Athletics
HOFMANN, Fritz         Athens  Athletics  Athletics
CURTIS, Thomas         Athens  Athletics  Athletics
GOULDING, Grantley     Athens  Athletics  Athletics
LERMUSIAUX, Albin      Athens  Athletics  Athletics
FLACK, Edwin           Athens  Athletics  Athletics
BLAKE, Arthur          Athens  Athletics  Athletics

In [105]:
#summer.loc[["PHELPS, Michael", "DUCK, Donald"]]

In [106]:
#summer.loc["PHELPS, Michael", ["Year", "Age"]]

### Indexing and Slicing with reindex()

In [108]:
import pandas as pd

In [109]:
summer = pd.read_csv("summer.csv")

In [110]:
summer

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
5,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200M Freestyle,Bronze
6,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200M Freestyle,Gold
7,1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200M Freestyle,Silver
8,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400M Freestyle,Bronze
9,1896,Athens,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400M Freestyle,Gold
10,1896,Athens,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400M Freestyle,Silver
11,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100M,Bronze
12,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100M,Bronze
13,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100M,Gold
14,1896,Athens,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100M,Silver
15,1896,Athens,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110M Hurdles,Gold
16,1896,Athens,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110M Hurdles,Silver
17,1896,Athens,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500M,Bronze
18,1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500M,Gold
19,1896,Athens,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500M,Silver
20,1896,Athens,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400M,Bronze
21,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,400M,Gold
22,1896,Athens,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400M,Silver
23,1896,Athens,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800M,Bronze
24,1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800M,Gold
25,1896,Athens,Athletics,Athletics,"DANI, Nandor",HUN,Men,800M,Silver
26,1896,Athens,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,Discus Throw,Bronze
27,1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,Discus Throw,Gold
28,1896,Athens,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,Discus Throw,Silver
29,1896,Athens,Athletics,Athletics,"CLARK, Ellery",USA,Men,High Jump,Gold
...,...,...,...,...,...,...,...,...,...
31135,2012,London,Wrestling,Wrestling Freestyle,"GAZYUMOV, Khetag",AZE,Men,Wf 96 KG,Bronze
31136,2012,London,Wrestling,Wrestling Freestyle,"GOGSHELIDZE, George",GEO,Men,Wf 96 KG,Bronze
31137,2012,London,Wrestling,Wrestling Freestyle,"LOPEZ NUNEZ, Mijain",CUB,Men,Wg 120 KG,Gold
31138,2012,London,Wrestling,Wrestling Freestyle,"NABI, Heiki",EST,Men,Wg 120 KG,Silver
31139,2012,London,Wrestling,Wrestling Freestyle,"EUREN, Johan",SWE,Men,Wg 120 KG,Bronze
31140,2012,London,Wrestling,Wrestling Freestyle,"KAYAALP, Riza",TUR,Men,Wg 120 KG,Bronze
31141,2012,London,Wrestling,Wrestling Freestyle,"SORYAN REIHANPOUR, Hamid Mohammad",IRI,Men,Wg 55 KG,Gold
31142,2012,London,Wrestling,Wrestling Freestyle,"BAYRAMOV, Rovshan",AZE,Men,Wg 55 KG,Silver
31143,2012,London,Wrestling,Wrestling Freestyle,"MODOS, Peter",HUN,Men,Wg 55 KG,Bronze
31144,2012,London,Wrestling,Wrestling Freestyle,"SEMENOV, Mingiyan",RUS,Men,Wg 55 KG,Bronze
31145,2012,London,Wrestling,Wrestling Freestyle,"NOROOZI, Omid Haji",IRI,Men,Wg 60 KG,Gold
31146,2012,London,Wrestling,Wrestling Freestyle,"LASHKHI, Revaz",GEO,Men,Wg 60 KG,Silver
31147,2012,London,Wrestling,Wrestling Freestyle,"KURAMAGOMEDOV, Zaur",RUS,Men,Wg 60 KG,Bronze
31148,2012,London,Wrestling,Wrestling Freestyle,"MATSUMOTO, Ryutaro",JPN,Men,Wg 60 KG,Bronze
31149,2012,London,Wrestling,Wrestling Freestyle,"KIM, Hyeonwoo",KOR,Men,Wg 66 KG,Gold
31150,2012,London,Wrestling,Wrestling Freestyle,"LORINCZ, Tamas",HUN,Men,Wg 66 KG,Silver
31151,2012,London,Wrestling,Wrestling Freestyle,"GUENOT, Steeve",FRA,Men,Wg 66 KG,Bronze
31152,2012,London,Wrestling,Wrestling Freestyle,"TSKHADAIA, Manuchar",GEO,Men,Wg 66 KG,Bronze
31153,2012,London,Wrestling,Wrestling Freestyle,"VLASOV, Roman",RUS,Men,Wg 74 KG,Gold
31154,2012,London,Wrestling,Wrestling Freestyle,"JULFALAKYAN, Arsen",ARM,Men,Wg 74 KG,Silver
31155,2012,London,Wrestling,Wrestling Freestyle,"AHMADOV, Emin",AZE,Men,Wg 74 KG,Bronze
31156,2012,London,Wrestling,Wrestling Freestyle,"KAZAKEVIC, Aleksandr",LTU,Men,Wg 74 KG,Bronze
31157,2012,London,Wrestling,Wrestling Freestyle,"KHUGAEV, Alan",RUS,Men,Wg 84 KG,Gold
31158,2012,London,Wrestling,Wrestling Freestyle,"EBRAHIM, Karam Mohamed Gaber",EGY,Men,Wg 84 KG,Silver
31159,2012,London,Wrestling,Wrestling Freestyle,"GAJIYEV, Danyal",KAZ,Men,Wg 84 KG,Bronze
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [111]:
#summer.loc[[0, 5, 30000, 40000], ["Athlete", "Medal"]]

In [112]:
summer.reindex(index = [0, 5, 30000, 40000], columns =  ["Athlete", "Medal", "Age"])

                     Athlete   Medal  Age
0              HAJOS, Alfred    Gold  NaN
5      CHOROPHAS, Efstathios  Bronze  NaN
30000       PAUTARAN, Maryna  Bronze  NaN
40000                    NaN     NaN  NaN

In [113]:
summer = pd.read_csv("summer.csv", index_col = "Athlete")

In [114]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Bronze
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,1200M Freestyle,Gold
"ANDREOU, Joannis",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Bronze
"NEUMANN, Paul",1896,Athens,Aquatics,Swimming,AUT,Men,400M Freestyle,Gold
"PEPANOS, Antonios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Silver
"LANE, Francis",1896,Athens,Athletics,Athletics,USA,Men,100M,Bronze
"SZOKOLYI, Alajos",1896,Athens,Athletics,Athletics,HUN,Men,100M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,100M,Gold
"HOFMANN, Fritz",1896,Athens,Athletics,Athletics,GER,Men,100M,Silver
"CURTIS, Thomas",1896,Athens,Athletics,Athletics,USA,Men,110M Hurdles,Gold
"GOULDING, Grantley",1896,Athens,Athletics,Athletics,GBR,Men,110M Hurdles,Silver
"LERMUSIAUX, Albin",1896,Athens,Athletics,Athletics,FRA,Men,1500M,Bronze
"FLACK, Edwin",1896,Athens,Athletics,Athletics,AUS,Men,1500M,Gold
"BLAKE, Arthur",1896,Athens,Athletics,Athletics,USA,Men,1500M,Silver
"GMELIN, Charles",1896,Athens,Athletics,Athletics,GBR,Men,400M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,400M,Gold
"JAMISON, Herbert",1896,Athens,Athletics,Athletics,USA,Men,400M,Silver
"GOLEMIS, Dimitrios",1896,Athens,Athletics,Athletics,GRE,Men,800M,Bronze
"FLACK, Edwin",1896,Athens,Athletics,Athletics,AUS,Men,800M,Gold
"DANI, Nandor",1896,Athens,Athletics,Athletics,HUN,Men,800M,Silver
"VERSIS, Sotirios",1896,Athens,Athletics,Athletics,GRE,Men,Discus Throw,Bronze
"GARRETT, Robert",1896,Athens,Athletics,Athletics,USA,Men,Discus Throw,Gold
"PARASKEVOPOULOS, Panagiotis",1896,Athens,Athletics,Athletics,GRE,Men,Discus Throw,Silver
"CLARK, Ellery",1896,Athens,Athletics,Athletics,USA,Men,High Jump,Gold
...,...,...,...,...,...,...,...,...
"GAZYUMOV, Khetag",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wf 96 KG,Bronze
"GOGSHELIDZE, George",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wf 96 KG,Bronze
"LOPEZ NUNEZ, Mijain",2012,London,Wrestling,Wrestling Freestyle,CUB,Men,Wg 120 KG,Gold
"NABI, Heiki",2012,London,Wrestling,Wrestling Freestyle,EST,Men,Wg 120 KG,Silver
"EUREN, Johan",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 120 KG,Bronze
"KAYAALP, Riza",2012,London,Wrestling,Wrestling Freestyle,TUR,Men,Wg 120 KG,Bronze
"SORYAN REIHANPOUR, Hamid Mohammad",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 55 KG,Gold
"BAYRAMOV, Rovshan",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wg 55 KG,Silver
"MODOS, Peter",2012,London,Wrestling,Wrestling Freestyle,HUN,Men,Wg 55 KG,Bronze
"SEMENOV, Mingiyan",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 55 KG,Bronze
"NOROOZI, Omid Haji",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 60 KG,Gold
"LASHKHI, Revaz",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wg 60 KG,Silver
"KURAMAGOMEDOV, Zaur",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 60 KG,Bronze
"MATSUMOTO, Ryutaro",2012,London,Wrestling,Wrestling Freestyle,JPN,Men,Wg 60 KG,Bronze
"KIM, Hyeonwoo",2012,London,Wrestling,Wrestling Freestyle,KOR,Men,Wg 66 KG,Gold
"LORINCZ, Tamas",2012,London,Wrestling,Wrestling Freestyle,HUN,Men,Wg 66 KG,Silver
"GUENOT, Steeve",2012,London,Wrestling,Wrestling Freestyle,FRA,Men,Wg 66 KG,Bronze
"TSKHADAIA, Manuchar",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wg 66 KG,Bronze
"VLASOV, Roman",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 74 KG,Gold
"JULFALAKYAN, Arsen",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 74 KG,Silver
"AHMADOV, Emin",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wg 74 KG,Bronze
"KAZAKEVIC, Aleksandr",2012,London,Wrestling,Wrestling Freestyle,LTU,Men,Wg 74 KG,Bronze
"KHUGAEV, Alan",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 84 KG,Gold
"EBRAHIM, Karam Mohamed Gaber",2012,London,Wrestling,Wrestling Freestyle,EGY,Men,Wg 84 KG,Silver
"GAJIYEV, Danyal",2012,London,Wrestling,Wrestling Freestyle,KAZ,Men,Wg 84 KG,Bronze
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [115]:
summer.reindex(columns = ["Medal", "Age"])

                                    Medal  Age
Athlete
HAJOS, Alfred                        Gold  NaN
HERSCHMANN, Otto                   Silver  NaN
DRIVAS, Dimitrios                  Bronze  NaN
MALOKINIS, Ioannis                   Gold  NaN
CHASAPIS, Spiridon                 Silver  NaN
CHOROPHAS, Efstathios              Bronze  NaN
HAJOS, Alfred                        Gold  NaN
ANDREOU, Joannis                   Silver  NaN
CHOROPHAS, Efstathios              Bronze  NaN
NEUMANN, Paul                        Gold  NaN
PEPANOS, Antonios                  Silver  NaN
LANE, Francis                      Bronze  NaN
SZOKOLYI, Alajos                   Bronze  NaN
BURKE, Thomas                        Gold  NaN
HOFMANN, Fritz                     Silver  NaN
CURTIS, Thomas                       Gold  NaN
GOULDING, Grantley                 Silver  NaN
LERMUSIAUX, Albin                  Bronze  NaN
FLACK, Edwin                         Gold  NaN
BLAKE, Arthur                      Silver  NaN
GMELIN, Charles                    Bronze  NaN
BURKE, Thomas                        Gold  NaN
JAMISON, Herbert                   Silver  NaN
GOLEMIS, Dimitrios                 Bronze  NaN
FLACK, Edwin                         Gold  NaN
DANI, Nandor                       Silver  NaN
VERSIS, Sotirios                   Bronze  NaN
GARRETT, Robert                      Gold  NaN
PARASKEVOPOULOS, Panagiotis        Silver  NaN
CLARK, Ellery                        Gold  NaN
...                                   ...  ...
GAZYUMOV, Khetag                   Bronze  NaN
GOGSHELIDZE, George                Bronze  NaN
LOPEZ NUNEZ, Mijain                  Gold  NaN
NABI, Heiki                        Silver  NaN
EUREN, Johan                       Bronze  NaN
KAYAALP, Riza                      Bronze  NaN
SORYAN REIHANPOUR, Hamid Mohammad    Gold  NaN
BAYRAMOV, Rovshan                  Silver  NaN
MODOS, Peter                       Bronze  NaN
SEMENOV, Mingiyan                  Bronze  NaN
NOROOZI, Omid Haji                   Gold  NaN
LASHKHI, Revaz                     Silver  NaN
KURAMAGOMEDOV, Zaur                Bronze  NaN
MATSUMOTO, Ryutaro                 Bronze  NaN
KIM, Hyeonwoo                        Gold  NaN
LORINCZ, Tamas                     Silver  NaN
GUENOT, Steeve                     Bronze  NaN
TSKHADAIA, Manuchar                Bronze  NaN
VLASOV, Roman                        Gold  NaN
JULFALAKYAN, Arsen                 Silver  NaN
AHMADOV, Emin                      Bronze  NaN
KAZAKEVIC, Aleksandr               Bronze  NaN
KHUGAEV, Alan                        Gold  NaN
EBRAHIM, Karam Mohamed Gaber       Silver  NaN
GAJIYEV, Danyal                    Bronze  NaN
JANIKOWSKI, Damian                 Bronze  NaN
REZAEI, Ghasem Gholamreza            Gold  NaN
TOTROV, Rustam                     Silver  NaN
ALEKSANYAN, Artur                  Bronze  NaN
LIDBERG, Jimmy                     Bronze  NaN

[31165 rows x 2 columns]

In [116]:
#summer.reindex(index = ["PHELPS, Michael"], columns = ["Medal", "Age"])

### Summary and Outlook

#### Importing from CSV and first Inspection

In [119]:
import pandas as pd

In [120]:
summer = pd.read_csv("summer.csv", index_col = "Athlete")

In [121]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Bronze
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,1200M Freestyle,Gold
"ANDREOU, Joannis",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Bronze
"NEUMANN, Paul",1896,Athens,Aquatics,Swimming,AUT,Men,400M Freestyle,Gold
"PEPANOS, Antonios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Silver
"LANE, Francis",1896,Athens,Athletics,Athletics,USA,Men,100M,Bronze
"SZOKOLYI, Alajos",1896,Athens,Athletics,Athletics,HUN,Men,100M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,100M,Gold
"HOFMANN, Fritz",1896,Athens,Athletics,Athletics,GER,Men,100M,Silver
"CURTIS, Thomas",1896,Athens,Athletics,Athletics,USA,Men,110M Hurdles,Gold
"GOULDING, Grantley",1896,Athens,Athletics,Athletics,GBR,Men,110M Hurdles,Silver
"LERMUSIAUX, Albin",1896,Athens,Athletics,Athletics,FRA,Men,1500M,Bronze
"FLACK, Edwin",1896,Athens,Athletics,Athletics,AUS,Men,1500M,Gold
"BLAKE, Arthur",1896,Athens,Athletics,Athletics,USA,Men,1500M,Silver
"GMELIN, Charles",1896,Athens,Athletics,Athletics,GBR,Men,400M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,400M,Gold
"JAMISON, Herbert",1896,Athens,Athletics,Athletics,USA,Men,400M,Silver
"GOLEMIS, Dimitrios",1896,Athens,Athletics,Athletics,GRE,Men,800M,Bronze
"FLACK, Edwin",1896,Athens,Athletics,Athletics,AUS,Men,800M,Gold
"DANI, Nandor",1896,Athens,Athletics,Athletics,HUN,Men,800M,Silver
"VERSIS, Sotirios",1896,Athens,Athletics,Athletics,GRE,Men,Discus Throw,Bronze
"GARRETT, Robert",1896,Athens,Athletics,Athletics,USA,Men,Discus Throw,Gold
"PARASKEVOPOULOS, Panagiotis",1896,Athens,Athletics,Athletics,GRE,Men,Discus Throw,Silver
"CLARK, Ellery",1896,Athens,Athletics,Athletics,USA,Men,High Jump,Gold
...,...,...,...,...,...,...,...,...
"GAZYUMOV, Khetag",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wf 96 KG,Bronze
"GOGSHELIDZE, George",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wf 96 KG,Bronze
"LOPEZ NUNEZ, Mijain",2012,London,Wrestling,Wrestling Freestyle,CUB,Men,Wg 120 KG,Gold
"NABI, Heiki",2012,London,Wrestling,Wrestling Freestyle,EST,Men,Wg 120 KG,Silver
"EUREN, Johan",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 120 KG,Bronze
"KAYAALP, Riza",2012,London,Wrestling,Wrestling Freestyle,TUR,Men,Wg 120 KG,Bronze
"SORYAN REIHANPOUR, Hamid Mohammad",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 55 KG,Gold
"BAYRAMOV, Rovshan",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wg 55 KG,Silver
"MODOS, Peter",2012,London,Wrestling,Wrestling Freestyle,HUN,Men,Wg 55 KG,Bronze
"SEMENOV, Mingiyan",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 55 KG,Bronze
"NOROOZI, Omid Haji",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 60 KG,Gold
"LASHKHI, Revaz",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wg 60 KG,Silver
"KURAMAGOMEDOV, Zaur",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 60 KG,Bronze
"MATSUMOTO, Ryutaro",2012,London,Wrestling,Wrestling Freestyle,JPN,Men,Wg 60 KG,Bronze
"KIM, Hyeonwoo",2012,London,Wrestling,Wrestling Freestyle,KOR,Men,Wg 66 KG,Gold
"LORINCZ, Tamas",2012,London,Wrestling,Wrestling Freestyle,HUN,Men,Wg 66 KG,Silver
"GUENOT, Steeve",2012,London,Wrestling,Wrestling Freestyle,FRA,Men,Wg 66 KG,Bronze
"TSKHADAIA, Manuchar",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wg 66 KG,Bronze
"VLASOV, Roman",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 74 KG,Gold
"JULFALAKYAN, Arsen",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 74 KG,Silver
"AHMADOV, Emin",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wg 74 KG,Bronze
"KAZAKEVIC, Aleksandr",2012,London,Wrestling,Wrestling Freestyle,LTU,Men,Wg 74 KG,Bronze
"KHUGAEV, Alan",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 84 KG,Gold
"EBRAHIM, Karam Mohamed Gaber",2012,London,Wrestling,Wrestling Freestyle,EGY,Men,Wg 84 KG,Silver
"GAJIYEV, Danyal",2012,London,Wrestling,Wrestling Freestyle,KAZ,Men,Wg 84 KG,Bronze
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [122]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31165 entries, HAJOS, Alfred to LIDBERG, Jimmy
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Country     31161 non-null  object
 5   Gender      31165 non-null  object
 6   Event       31165 non-null  object
 7   Medal       31165 non-null  object
dtypes: int64(1), object(7)
memory usage: 2.1+ MB

#### Selecting one Column

In [124]:
summer.Medal

Athlete
HAJOS, Alfred                          Gold
HERSCHMANN, Otto                     Silver
DRIVAS, Dimitrios                    Bronze
MALOKINIS, Ioannis                     Gold
CHASAPIS, Spiridon                   Silver
CHOROPHAS, Efstathios                Bronze
HAJOS, Alfred                          Gold
ANDREOU, Joannis                     Silver
CHOROPHAS, Efstathios                Bronze
NEUMANN, Paul                          Gold
PEPANOS, Antonios                    Silver
LANE, Francis                        Bronze
SZOKOLYI, Alajos                     Bronze
BURKE, Thomas                          Gold
HOFMANN, Fritz                       Silver
CURTIS, Thomas                         Gold
GOULDING, Grantley                   Silver
LERMUSIAUX, Albin                    Bronze
FLACK, Edwin                           Gold
BLAKE, Arthur                        Silver
GMELIN, Charles                      Bronze
BURKE, Thomas                          Gold
JAMISON, Herbert                     Silver
GOLEMIS, Dimitrios                   Bronze
FLACK, Edwin                           Gold
DANI, Nandor                         Silver
VERSIS, Sotirios                     Bronze
GARRETT, Robert                        Gold
PARASKEVOPOULOS, Panagiotis          Silver
CLARK, Ellery                          Gold
                                      ...
GAZYUMOV, Khetag                     Bronze
GOGSHELIDZE, George                  Bronze
LOPEZ NUNEZ, Mijain                    Gold
NABI, Heiki                          Silver
EUREN, Johan                         Bronze
KAYAALP, Riza                        Bronze
SORYAN REIHANPOUR, Hamid Mohammad      Gold
BAYRAMOV, Rovshan                    Silver
MODOS, Peter                         Bronze
SEMENOV, Mingiyan                    Bronze
NOROOZI, Omid Haji                     Gold
LASHKHI, Revaz                       Silver
KURAMAGOMEDOV, Zaur                  Bronze
MATSUMOTO, Ryutaro                   Bronze
KIM, Hyeonwoo                          Gold
LORINCZ, Tamas                       Silver
GUENOT, Steeve                       Bronze
TSKHADAIA, Manuchar                  Bronze
VLASOV, Roman                          Gold
JULFALAKYAN, Arsen                   Silver
AHMADOV, Emin                        Bronze
KAZAKEVIC, Aleksandr                 Bronze
KHUGAEV, Alan                          Gold
EBRAHIM, Karam Mohamed Gaber         Silver
GAJIYEV, Danyal                      Bronze
JANIKOWSKI, Damian                   Bronze
REZAEI, Ghasem Gholamreza              Gold
TOTROV, Rustam                       Silver
ALEKSANYAN, Artur                    Bronze
LIDBERG, Jimmy                       Bronze
Name: Medal, Length: 31165, dtype: object

In [125]:
summer["Medal"]

Athlete
HAJOS, Alfred                          Gold
HERSCHMANN, Otto                     Silver
DRIVAS, Dimitrios                    Bronze
MALOKINIS, Ioannis                     Gold
CHASAPIS, Spiridon                   Silver
CHOROPHAS, Efstathios                Bronze
HAJOS, Alfred                          Gold
ANDREOU, Joannis                     Silver
CHOROPHAS, Efstathios                Bronze
NEUMANN, Paul                          Gold
PEPANOS, Antonios                    Silver
LANE, Francis                        Bronze
SZOKOLYI, Alajos                     Bronze
BURKE, Thomas                          Gold
HOFMANN, Fritz                       Silver
CURTIS, Thomas                         Gold
GOULDING, Grantley                   Silver
LERMUSIAUX, Albin                    Bronze
FLACK, Edwin                           Gold
BLAKE, Arthur                        Silver
GMELIN, Charles                      Bronze
BURKE, Thomas                          Gold
JAMISON, Herbert                     Silver
GOLEMIS, Dimitrios                   Bronze
FLACK, Edwin                           Gold
DANI, Nandor                         Silver
VERSIS, Sotirios                     Bronze
GARRETT, Robert                        Gold
PARASKEVOPOULOS, Panagiotis          Silver
CLARK, Ellery                          Gold
                                      ...
GAZYUMOV, Khetag                     Bronze
GOGSHELIDZE, George                  Bronze
LOPEZ NUNEZ, Mijain                    Gold
NABI, Heiki                          Silver
EUREN, Johan                         Bronze
KAYAALP, Riza                        Bronze
SORYAN REIHANPOUR, Hamid Mohammad      Gold
BAYRAMOV, Rovshan                    Silver
MODOS, Peter                         Bronze
SEMENOV, Mingiyan                    Bronze
NOROOZI, Omid Haji                     Gold
LASHKHI, Revaz                       Silver
KURAMAGOMEDOV, Zaur                  Bronze
MATSUMOTO, Ryutaro                   Bronze
KIM, Hyeonwoo                          Gold
LORINCZ, Tamas                       Silver
GUENOT, Steeve                       Bronze
TSKHADAIA, Manuchar                  Bronze
VLASOV, Roman                          Gold
JULFALAKYAN, Arsen                   Silver
AHMADOV, Emin                        Bronze
KAZAKEVIC, Aleksandr                 Bronze
KHUGAEV, Alan                          Gold
EBRAHIM, Karam Mohamed Gaber         Silver
GAJIYEV, Danyal                      Bronze
JANIKOWSKI, Damian                   Bronze
REZAEI, Ghasem Gholamreza              Gold
TOTROV, Rustam                       Silver
ALEKSANYAN, Artur                    Bronze
LIDBERG, Jimmy                       Bronze
Name: Medal, Length: 31165, dtype: object

#### Selecting multiple Columns

In [127]:
summer[["Year", "Medal"]]

                                   Year   Medal
Athlete
HAJOS, Alfred                      1896    Gold
HERSCHMANN, Otto                   1896  Silver
DRIVAS, Dimitrios                  1896  Bronze
MALOKINIS, Ioannis                 1896    Gold
CHASAPIS, Spiridon                 1896  Silver
CHOROPHAS, Efstathios              1896  Bronze
HAJOS, Alfred                      1896    Gold
ANDREOU, Joannis                   1896  Silver
CHOROPHAS, Efstathios              1896  Bronze
NEUMANN, Paul                      1896    Gold
PEPANOS, Antonios                  1896  Silver
LANE, Francis                      1896  Bronze
SZOKOLYI, Alajos                   1896  Bronze
BURKE, Thomas                      1896    Gold
HOFMANN, Fritz                     1896  Silver
CURTIS, Thomas                     1896    Gold
GOULDING, Grantley                 1896  Silver
LERMUSIAUX, Albin                  1896  Bronze
FLACK, Edwin                       1896    Gold
BLAKE, Arthur                      1896  Silver
GMELIN, Charles                    1896  Bronze
BURKE, Thomas                      1896    Gold
JAMISON, Herbert                   1896  Silver
GOLEMIS, Dimitrios                 1896  Bronze
FLACK, Edwin                       1896    Gold
DANI, Nandor                       1896  Silver
VERSIS, Sotirios                   1896  Bronze
GARRETT, Robert                    1896    Gold
PARASKEVOPOULOS, Panagiotis        1896  Silver
CLARK, Ellery                      1896    Gold
...                                 ...     ...
GAZYUMOV, Khetag                   2012  Bronze
GOGSHELIDZE, George                2012  Bronze
LOPEZ NUNEZ, Mijain                2012    Gold
NABI, Heiki                        2012  Silver
EUREN, Johan                       2012  Bronze
KAYAALP, Riza                      2012  Bronze
SORYAN REIHANPOUR, Hamid Mohammad  2012    Gold
BAYRAMOV, Rovshan                  2012  Silver
MODOS, Peter                       2012  Bronze
SEMENOV, Mingiyan                  2012  Bronze
NOROOZI, Omid Haji                 2012    Gold
LASHKHI, Revaz                     2012  Silver
KURAMAGOMEDOV, Zaur                2012  Bronze
MATSUMOTO, Ryutaro                 2012  Bronze
KIM, Hyeonwoo                      2012    Gold
LORINCZ, Tamas                     2012  Silver
GUENOT, Steeve                     2012  Bronze
TSKHADAIA, Manuchar                2012  Bronze
VLASOV, Roman                      2012    Gold
JULFALAKYAN, Arsen                 2012  Silver
AHMADOV, Emin                      2012  Bronze
KAZAKEVIC, Aleksandr               2012  Bronze
KHUGAEV, Alan                      2012    Gold
EBRAHIM, Karam Mohamed Gaber       2012  Silver
GAJIYEV, Danyal                    2012  Bronze
JANIKOWSKI, Damian                 2012  Bronze
REZAEI, Ghasem Gholamreza          2012    Gold
TOTROV, Rustam                     2012  Silver
ALEKSANYAN, Artur                  2012  Bronze
LIDBERG, Jimmy                     2012  Bronze

[31165 rows x 2 columns]

In [128]:
summer.loc[:, ["Year", "Medal"]]

                                   Year   Medal
Athlete
HAJOS, Alfred                      1896    Gold
HERSCHMANN, Otto                   1896  Silver
DRIVAS, Dimitrios                  1896  Bronze
MALOKINIS, Ioannis                 1896    Gold
CHASAPIS, Spiridon                 1896  Silver
CHOROPHAS, Efstathios              1896  Bronze
HAJOS, Alfred                      1896    Gold
ANDREOU, Joannis                   1896  Silver
CHOROPHAS, Efstathios              1896  Bronze
NEUMANN, Paul                      1896    Gold
PEPANOS, Antonios                  1896  Silver
LANE, Francis                      1896  Bronze
SZOKOLYI, Alajos                   1896  Bronze
BURKE, Thomas                      1896    Gold
HOFMANN, Fritz                     1896  Silver
CURTIS, Thomas                     1896    Gold
GOULDING, Grantley                 1896  Silver
LERMUSIAUX, Albin                  1896  Bronze
FLACK, Edwin                       1896    Gold
BLAKE, Arthur                      1896  Silver
GMELIN, Charles                    1896  Bronze
BURKE, Thomas                      1896    Gold
JAMISON, Herbert                   1896  Silver
GOLEMIS, Dimitrios                 1896  Bronze
FLACK, Edwin                       1896    Gold
DANI, Nandor                       1896  Silver
VERSIS, Sotirios                   1896  Bronze
GARRETT, Robert                    1896    Gold
PARASKEVOPOULOS, Panagiotis        1896  Silver
CLARK, Ellery                      1896    Gold
...                                 ...     ...
GAZYUMOV, Khetag                   2012  Bronze
GOGSHELIDZE, George                2012  Bronze
LOPEZ NUNEZ, Mijain                2012    Gold
NABI, Heiki                        2012  Silver
EUREN, Johan                       2012  Bronze
KAYAALP, Riza                      2012  Bronze
SORYAN REIHANPOUR, Hamid Mohammad  2012    Gold
BAYRAMOV, Rovshan                  2012  Silver
MODOS, Peter                       2012  Bronze
SEMENOV, Mingiyan                  2012  Bronze
NOROOZI, Omid Haji                 2012    Gold
LASHKHI, Revaz                     2012  Silver
KURAMAGOMEDOV, Zaur                2012  Bronze
MATSUMOTO, Ryutaro                 2012  Bronze
KIM, Hyeonwoo                      2012    Gold
LORINCZ, Tamas                     2012  Silver
GUENOT, Steeve                     2012  Bronze
TSKHADAIA, Manuchar                2012  Bronze
VLASOV, Roman                      2012    Gold
JULFALAKYAN, Arsen                 2012  Silver
AHMADOV, Emin                      2012  Bronze
KAZAKEVIC, Aleksandr               2012  Bronze
KHUGAEV, Alan                      2012    Gold
EBRAHIM, Karam Mohamed Gaber       2012  Silver
GAJIYEV, Danyal                    2012  Bronze
JANIKOWSKI, Damian                 2012  Bronze
REZAEI, Ghasem Gholamreza          2012    Gold
TOTROV, Rustam                     2012  Silver
ALEKSANYAN, Artur                  2012  Bronze
LIDBERG, Jimmy                     2012  Bronze

[31165 rows x 2 columns]

#### Selecting positional rows

In [130]:
summer.iloc[10:21]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"PEPANOS, Antonios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Silver
"LANE, Francis",1896,Athens,Athletics,Athletics,USA,Men,100M,Bronze
"SZOKOLYI, Alajos",1896,Athens,Athletics,Athletics,HUN,Men,100M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,100M,Gold
"HOFMANN, Fritz",1896,Athens,Athletics,Athletics,GER,Men,100M,Silver
"CURTIS, Thomas",1896,Athens,Athletics,Athletics,USA,Men,110M Hurdles,Gold
"GOULDING, Grantley",1896,Athens,Athletics,Athletics,GBR,Men,110M Hurdles,Silver
"LERMUSIAUX, Albin",1896,Athens,Athletics,Athletics,FRA,Men,1500M,Bronze
"FLACK, Edwin",1896,Athens,Athletics,Athletics,AUS,Men,1500M,Gold
"BLAKE, Arthur",1896,Athens,Athletics,Athletics,USA,Men,1500M,Silver
"GMELIN, Charles",1896,Athens,Athletics,Athletics,GBR,Men,400M,Bronze

#### Selecting labeled rows

In [132]:
summer.loc["LEWIS, Carl"]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"LEWIS, Carl",1984,Los Angeles,Athletics,Athletics,USA,Men,100M,Gold
"LEWIS, Carl",1984,Los Angeles,Athletics,Athletics,USA,Men,200M,Gold
"LEWIS, Carl",1984,Los Angeles,Athletics,Athletics,USA,Men,4X100M Relay,Gold
"LEWIS, Carl",1984,Los Angeles,Athletics,Athletics,USA,Men,Long Jump,Gold
"LEWIS, Carl",1988,Seoul,Athletics,Athletics,USA,Men,100M,Gold
"LEWIS, Carl",1988,Seoul,Athletics,Athletics,USA,Men,200M,Silver
"LEWIS, Carl",1988,Seoul,Athletics,Athletics,USA,Men,Long Jump,Gold
"LEWIS, Carl",1992,Barcelona,Athletics,Athletics,USA,Men,4X100M Relay,Gold
"LEWIS, Carl",1992,Barcelona,Athletics,Athletics,USA,Men,Long Jump,Gold
"LEWIS, Carl",1996,Atlanta,Athletics,Athletics,USA,Men,Long Jump,Gold

#### Putting it all together

In [134]:
summer[["Year", "Event", "Medal"]].loc["LEWIS, Carl"]

             Year         Event   Medal
Athlete
LEWIS, Carl  1984          100M    Gold
LEWIS, Carl  1984          200M    Gold
LEWIS, Carl  1984  4X100M Relay    Gold
LEWIS, Carl  1984     Long Jump    Gold
LEWIS, Carl  1988          100M    Gold
LEWIS, Carl  1988          200M  Silver
LEWIS, Carl  1988     Long Jump    Gold
LEWIS, Carl  1992  4X100M Relay    Gold
LEWIS, Carl  1992     Long Jump    Gold
LEWIS, Carl  1996     Long Jump    Gold

In [135]:
summer.loc["LEWIS, Carl"][["Year", "Event", "Medal"]]

             Year         Event   Medal
Athlete
LEWIS, Carl  1984          100M    Gold
LEWIS, Carl  1984          200M    Gold
LEWIS, Carl  1984  4X100M Relay    Gold
LEWIS, Carl  1984     Long Jump    Gold
LEWIS, Carl  1988          100M    Gold
LEWIS, Carl  1988          200M  Silver
LEWIS, Carl  1988     Long Jump    Gold
LEWIS, Carl  1992  4X100M Relay    Gold
LEWIS, Carl  1992     Long Jump    Gold
LEWIS, Carl  1996     Long Jump    Gold

In [136]:
summer.loc["LEWIS, Carl", ["Year", "Event", "Medal"]]

             Year         Event   Medal
Athlete
LEWIS, Carl  1984          100M    Gold
LEWIS, Carl  1984          200M    Gold
LEWIS, Carl  1984  4X100M Relay    Gold
LEWIS, Carl  1984     Long Jump    Gold
LEWIS, Carl  1988          100M    Gold
LEWIS, Carl  1988          200M  Silver
LEWIS, Carl  1988     Long Jump    Gold
LEWIS, Carl  1992  4X100M Relay    Gold
LEWIS, Carl  1992     Long Jump    Gold
LEWIS, Carl  1996     Long Jump    Gold

#### Outlook Pandas Objects

In [138]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Bronze
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,1200M Freestyle,Gold
"ANDREOU, Joannis",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Bronze
"NEUMANN, Paul",1896,Athens,Aquatics,Swimming,AUT,Men,400M Freestyle,Gold
"PEPANOS, Antonios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Silver
"LANE, Francis",1896,Athens,Athletics,Athletics,USA,Men,100M,Bronze
"SZOKOLYI, Alajos",1896,Athens,Athletics,Athletics,HUN,Men,100M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,100M,Gold
"HOFMANN, Fritz",1896,Athens,Athletics,Athletics,GER,Men,100M,Silver
"CURTIS, Thomas",1896,Athens,Athletics,Athletics,USA,Men,110M Hurdles,Gold
"GOULDING, Grantley",1896,Athens,Athletics,Athletics,GBR,Men,110M Hurdles,Silver
"LERMUSIAUX, Albin",1896,Athens,Athletics,Athletics,FRA,Men,1500M,Bronze
"FLACK, Edwin",1896,Athens,Athletics,Athletics,AUS,Men,1500M,Gold
"BLAKE, Arthur",1896,Athens,Athletics,Athletics,USA,Men,1500M,Silver
"GMELIN, Charles",1896,Athens,Athletics,Athletics,GBR,Men,400M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,400M,Gold
"JAMISON, Herbert",1896,Athens,Athletics,Athletics,USA,Men,400M,Silver
"GOLEMIS, Dimitrios",1896,Athens,Athletics,Athletics,GRE,Men,800M,Bronze
"FLACK, Edwin",1896,Athens,Athletics,Athletics,AUS,Men,800M,Gold
"DANI, Nandor",1896,Athens,Athletics,Athletics,HUN,Men,800M,Silver
"VERSIS, Sotirios",1896,Athens,Athletics,Athletics,GRE,Men,Discus Throw,Bronze
"GARRETT, Robert",1896,Athens,Athletics,Athletics,USA,Men,Discus Throw,Gold
"PARASKEVOPOULOS, Panagiotis",1896,Athens,Athletics,Athletics,GRE,Men,Discus Throw,Silver
"CLARK, Ellery",1896,Athens,Athletics,Athletics,USA,Men,High Jump,Gold
...,...,...,...,...,...,...,...,...
"GAZYUMOV, Khetag",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wf 96 KG,Bronze
"GOGSHELIDZE, George",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wf 96 KG,Bronze
"LOPEZ NUNEZ, Mijain",2012,London,Wrestling,Wrestling Freestyle,CUB,Men,Wg 120 KG,Gold
"NABI, Heiki",2012,London,Wrestling,Wrestling Freestyle,EST,Men,Wg 120 KG,Silver
"EUREN, Johan",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 120 KG,Bronze
"KAYAALP, Riza",2012,London,Wrestling,Wrestling Freestyle,TUR,Men,Wg 120 KG,Bronze
"SORYAN REIHANPOUR, Hamid Mohammad",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 55 KG,Gold
"BAYRAMOV, Rovshan",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wg 55 KG,Silver
"MODOS, Peter",2012,London,Wrestling,Wrestling Freestyle,HUN,Men,Wg 55 KG,Bronze
"SEMENOV, Mingiyan",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 55 KG,Bronze
"NOROOZI, Omid Haji",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 60 KG,Gold
"LASHKHI, Revaz",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wg 60 KG,Silver
"KURAMAGOMEDOV, Zaur",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 60 KG,Bronze
"MATSUMOTO, Ryutaro",2012,London,Wrestling,Wrestling Freestyle,JPN,Men,Wg 60 KG,Bronze
"KIM, Hyeonwoo",2012,London,Wrestling,Wrestling Freestyle,KOR,Men,Wg 66 KG,Gold
"LORINCZ, Tamas",2012,London,Wrestling,Wrestling Freestyle,HUN,Men,Wg 66 KG,Silver
"GUENOT, Steeve",2012,London,Wrestling,Wrestling Freestyle,FRA,Men,Wg 66 KG,Bronze
"TSKHADAIA, Manuchar",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wg 66 KG,Bronze
"VLASOV, Roman",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 74 KG,Gold
"JULFALAKYAN, Arsen",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 74 KG,Silver
"AHMADOV, Emin",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wg 74 KG,Bronze
"KAZAKEVIC, Aleksandr",2012,London,Wrestling,Wrestling Freestyle,LTU,Men,Wg 74 KG,Bronze
"KHUGAEV, Alan",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 84 KG,Gold
"EBRAHIM, Karam Mohamed Gaber",2012,London,Wrestling,Wrestling Freestyle,EGY,Men,Wg 84 KG,Silver
"GAJIYEV, Danyal",2012,London,Wrestling,Wrestling Freestyle,KAZ,Men,Wg 84 KG,Bronze
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [139]:
type(summer)

pandas.core.frame.DataFrame

In [140]:
summer["Year"]

Athlete
HAJOS, Alfred                        1896
HERSCHMANN, Otto                     1896
DRIVAS, Dimitrios                    1896
MALOKINIS, Ioannis                   1896
CHASAPIS, Spiridon                   1896
CHOROPHAS, Efstathios                1896
HAJOS, Alfred                        1896
ANDREOU, Joannis                     1896
CHOROPHAS, Efstathios                1896
NEUMANN, Paul                        1896
PEPANOS, Antonios                    1896
LANE, Francis                        1896
SZOKOLYI, Alajos                     1896
BURKE, Thomas                        1896
HOFMANN, Fritz                       1896
CURTIS, Thomas                       1896
GOULDING, Grantley                   1896
LERMUSIAUX, Albin                    1896
FLACK, Edwin                         1896
BLAKE, Arthur                        1896
GMELIN, Charles                      1896
BURKE, Thomas                        1896
JAMISON, Herbert                     1896
GOLEMIS, Dimitrios                   1896
FLACK, Edwin                         1896
DANI, Nandor                         1896
VERSIS, Sotirios                     1896
GARRETT, Robert                      1896
PARASKEVOPOULOS, Panagiotis          1896
CLARK, Ellery                        1896
                                     ...
GAZYUMOV, Khetag                     2012
GOGSHELIDZE, George                  2012
LOPEZ NUNEZ, Mijain                  2012
NABI, Heiki                          2012
EUREN, Johan                         2012
KAYAALP, Riza                        2012
SORYAN REIHANPOUR, Hamid Mohammad    2012
BAYRAMOV, Rovshan                    2012
MODOS, Peter                         2012
SEMENOV, Mingiyan                    2012
NOROOZI, Omid Haji                   2012
LASHKHI, Revaz                       2012
KURAMAGOMEDOV, Zaur                  2012
MATSUMOTO, Ryutaro                   2012
KIM, Hyeonwoo                        2012
LORINCZ, Tamas                       2012
GUENOT, Steeve                       2012
TSKHADAIA, Manuchar                  2012
VLASOV, Roman                        2012
JULFALAKYAN, Arsen                   2012
AHMADOV, Emin                        2012
KAZAKEVIC, Aleksandr                 2012
KHUGAEV, Alan                        2012
EBRAHIM, Karam Mohamed Gaber         2012
GAJIYEV, Danyal                      2012
JANIKOWSKI, Damian                   2012
REZAEI, Ghasem Gholamreza            2012
TOTROV, Rustam                       2012
ALEKSANYAN, Artur                    2012
LIDBERG, Jimmy                       2012
Name: Year, Length: 31165, dtype: int64

In [141]:
type(summer["Year"])

pandas.core.series.Series

In [142]:
summer.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Country', 'Gender', 'Event',
       'Medal'],
      dtype='object')

In [143]:
type(summer.columns)

pandas.core.indexes.base.Index

In [144]:
summer.index

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [145]:
type(summer.index)

pandas.core.indexes.base.Index

### Advanced Indexing and Slicing (optional)

In [147]:
import pandas as pd

In [148]:
summer = pd.read_csv("summer.csv")

In [149]:
summer

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
5,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200M Freestyle,Bronze
6,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200M Freestyle,Gold
7,1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200M Freestyle,Silver
8,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400M Freestyle,Bronze
9,1896,Athens,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400M Freestyle,Gold
10,1896,Athens,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400M Freestyle,Silver
11,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100M,Bronze
12,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100M,Bronze
13,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100M,Gold
14,1896,Athens,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100M,Silver
15,1896,Athens,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110M Hurdles,Gold
16,1896,Athens,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110M Hurdles,Silver
17,1896,Athens,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500M,Bronze
18,1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500M,Gold
19,1896,Athens,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500M,Silver
20,1896,Athens,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400M,Bronze
21,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,400M,Gold
22,1896,Athens,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400M,Silver
23,1896,Athens,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800M,Bronze
24,1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800M,Gold
25,1896,Athens,Athletics,Athletics,"DANI, Nandor",HUN,Men,800M,Silver
26,1896,Athens,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,Discus Throw,Bronze
27,1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,Discus Throw,Gold
28,1896,Athens,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,Discus Throw,Silver
29,1896,Athens,Athletics,Athletics,"CLARK, Ellery",USA,Men,High Jump,Gold
...,...,...,...,...,...,...,...,...,...
31135,2012,London,Wrestling,Wrestling Freestyle,"GAZYUMOV, Khetag",AZE,Men,Wf 96 KG,Bronze
31136,2012,London,Wrestling,Wrestling Freestyle,"GOGSHELIDZE, George",GEO,Men,Wf 96 KG,Bronze
31137,2012,London,Wrestling,Wrestling Freestyle,"LOPEZ NUNEZ, Mijain",CUB,Men,Wg 120 KG,Gold
31138,2012,London,Wrestling,Wrestling Freestyle,"NABI, Heiki",EST,Men,Wg 120 KG,Silver
31139,2012,London,Wrestling,Wrestling Freestyle,"EUREN, Johan",SWE,Men,Wg 120 KG,Bronze
31140,2012,London,Wrestling,Wrestling Freestyle,"KAYAALP, Riza",TUR,Men,Wg 120 KG,Bronze
31141,2012,London,Wrestling,Wrestling Freestyle,"SORYAN REIHANPOUR, Hamid Mohammad",IRI,Men,Wg 55 KG,Gold
31142,2012,London,Wrestling,Wrestling Freestyle,"BAYRAMOV, Rovshan",AZE,Men,Wg 55 KG,Silver
31143,2012,London,Wrestling,Wrestling Freestyle,"MODOS, Peter",HUN,Men,Wg 55 KG,Bronze
31144,2012,London,Wrestling,Wrestling Freestyle,"SEMENOV, Mingiyan",RUS,Men,Wg 55 KG,Bronze
31145,2012,London,Wrestling,Wrestling Freestyle,"NOROOZI, Omid Haji",IRI,Men,Wg 60 KG,Gold
31146,2012,London,Wrestling,Wrestling Freestyle,"LASHKHI, Revaz",GEO,Men,Wg 60 KG,Silver
31147,2012,London,Wrestling,Wrestling Freestyle,"KURAMAGOMEDOV, Zaur",RUS,Men,Wg 60 KG,Bronze
31148,2012,London,Wrestling,Wrestling Freestyle,"MATSUMOTO, Ryutaro",JPN,Men,Wg 60 KG,Bronze
31149,2012,London,Wrestling,Wrestling Freestyle,"KIM, Hyeonwoo",KOR,Men,Wg 66 KG,Gold
31150,2012,London,Wrestling,Wrestling Freestyle,"LORINCZ, Tamas",HUN,Men,Wg 66 KG,Silver
31151,2012,London,Wrestling,Wrestling Freestyle,"GUENOT, Steeve",FRA,Men,Wg 66 KG,Bronze
31152,2012,London,Wrestling,Wrestling Freestyle,"TSKHADAIA, Manuchar",GEO,Men,Wg 66 KG,Bronze
31153,2012,London,Wrestling,Wrestling Freestyle,"VLASOV, Roman",RUS,Men,Wg 74 KG,Gold
31154,2012,London,Wrestling,Wrestling Freestyle,"JULFALAKYAN, Arsen",ARM,Men,Wg 74 KG,Silver
31155,2012,London,Wrestling,Wrestling Freestyle,"AHMADOV, Emin",AZE,Men,Wg 74 KG,Bronze
31156,2012,London,Wrestling,Wrestling Freestyle,"KAZAKEVIC, Aleksandr",LTU,Men,Wg 74 KG,Bronze
31157,2012,London,Wrestling,Wrestling Freestyle,"KHUGAEV, Alan",RUS,Men,Wg 84 KG,Gold
31158,2012,London,Wrestling,Wrestling Freestyle,"EBRAHIM, Karam Mohamed Gaber",EGY,Men,Wg 84 KG,Silver
31159,2012,London,Wrestling,Wrestling Freestyle,"GAJIYEV, Danyal",KAZ,Men,Wg 84 KG,Bronze
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

__Case 1: Getting the first 5 rows and rows 354 and 765__

In [151]:
rows = list(range(5)) + [354, 765]
rows

[0, 1, 2, 3, 4, 354, 765]

In [152]:
summer.iloc[rows]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
354,1900,Paris,Equestrian,Jumping,DE BELLEGARDE,FRA,Men,Long Jump Individual,Bronze
765,1904,St Louis,Athletics,Athletics,"CORAY, Albert",ZZX,Men,4Miles Team,Silver

__Case 2: Getting the first three columns and the columns "Gender" and "Event"__

In [154]:
summer.columns[:3].to_list() + ["Gender", "Event"]

['Year', 'City', 'Sport', 'Gender', 'Event']

In [155]:
col = summer.columns[:3].to_list() + ["Gender", "Event"]
col

['Year', 'City', 'Sport', 'Gender', 'Event']

In [156]:
summer.loc[:, col]

       Year    City      Sport Gender                       Event
0      1896  Athens   Aquatics    Men              100M Freestyle
1      1896  Athens   Aquatics    Men              100M Freestyle
2      1896  Athens   Aquatics    Men  100M Freestyle For Sailors
3      1896  Athens   Aquatics    Men  100M Freestyle For Sailors
4      1896  Athens   Aquatics    Men  100M Freestyle For Sailors
5      1896  Athens   Aquatics    Men             1200M Freestyle
6      1896  Athens   Aquatics    Men             1200M Freestyle
7      1896  Athens   Aquatics    Men             1200M Freestyle
8      1896  Athens   Aquatics    Men              400M Freestyle
9      1896  Athens   Aquatics    Men              400M Freestyle
10     1896  Athens   Aquatics    Men              400M Freestyle
11     1896  Athens  Athletics    Men                        100M
12     1896  Athens  Athletics    Men                        100M
13     1896  Athens  Athletics    Men                        100M
14     1896  Athens  Athletics    Men                        100M
15     1896  Athens  Athletics    Men                110M Hurdles
16     1896  Athens  Athletics    Men                110M Hurdles
17     1896  Athens  Athletics    Men                       1500M
18     1896  Athens  Athletics    Men                       1500M
19     1896  Athens  Athletics    Men                       1500M
20     1896  Athens  Athletics    Men                        400M
21     1896  Athens  Athletics    Men                        400M
22     1896  Athens  Athletics    Men                        400M
23     1896  Athens  Athletics    Men                        800M
24     1896  Athens  Athletics    Men                        800M
25     1896  Athens  Athletics    Men                        800M
26     1896  Athens  Athletics    Men                Discus Throw
27     1896  Athens  Athletics    Men                Discus Throw
28     1896  Athens  Athletics    Men                Discus Throw
29     1896  Athens  Athletics    Men                   High Jump
...     ...     ...        ...    ...                         ...
31135  2012  London  Wrestling    Men                    Wf 96 KG
31136  2012  London  Wrestling    Men                    Wf 96 KG
31137  2012  London  Wrestling    Men                   Wg 120 KG
31138  2012  London  Wrestling    Men                   Wg 120 KG
31139  2012  London  Wrestling    Men                   Wg 120 KG
31140  2012  London  Wrestling    Men                   Wg 120 KG
31141  2012  London  Wrestling    Men                    Wg 55 KG
31142  2012  London  Wrestling    Men                    Wg 55 KG
31143  2012  London  Wrestling    Men                    Wg 55 KG
31144  2012  London  Wrestling    Men                    Wg 55 KG
31145  2012  London  Wrestling    Men                    Wg 60 KG
31146  2012  London  Wrestling    Men                    Wg 60 KG
31147  2012  London  Wrestling    Men                    Wg 60 KG
31148  2012  London  Wrestling    Men                    Wg 60 KG
31149  2012  London  Wrestling    Men                    Wg 66 KG
31150  2012  London  Wrestling    Men                    Wg 66 KG
31151  2012  London  Wrestling    Men                    Wg 66 KG
31152  2012  London  Wrestling    Men                    Wg 66 KG
31153  2012  London  Wrestling    Men                    Wg 74 KG
31154  2012  London  Wrestling    Men                    Wg 74 KG
31155  2012  London  Wrestling    Men                    Wg 74 KG
31156  2012  London  Wrestling    Men                    Wg 74 KG
31157  2012  London  Wrestling    Men                    Wg 84 KG
31158  2012  London  Wrestling    Men                    Wg 84 KG
31159  2012  London  Wrestling    Men                    Wg 84 KG
31160  2012  London  Wrestling    Men                    Wg 84 KG
31161  2012  London  Wrestling    Men                    Wg 96 KG
31162  2012  London  Wrestling    Men                    Wg 96 KG
31163  2012  London  Wrestling    Men                    Wg 96 KG
31164  2012  London  Wrestling    Men                    Wg 96 KG

[31165 rows x 5 columns]

__Case 3: Combining Position- and label-based Indexing__: Rows at Positions 200 and 300 and columns "Athlete" and "Medal"

In [158]:
summer

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
5,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200M Freestyle,Bronze
6,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200M Freestyle,Gold
7,1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200M Freestyle,Silver
8,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400M Freestyle,Bronze
9,1896,Athens,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400M Freestyle,Gold
10,1896,Athens,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400M Freestyle,Silver
11,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100M,Bronze
12,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100M,Bronze
13,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100M,Gold
14,1896,Athens,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100M,Silver
15,1896,Athens,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110M Hurdles,Gold
16,1896,Athens,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110M Hurdles,Silver
17,1896,Athens,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500M,Bronze
18,1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500M,Gold
19,1896,Athens,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500M,Silver
20,1896,Athens,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400M,Bronze
21,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,400M,Gold
22,1896,Athens,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400M,Silver
23,1896,Athens,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800M,Bronze
24,1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800M,Gold
25,1896,Athens,Athletics,Athletics,"DANI, Nandor",HUN,Men,800M,Silver
26,1896,Athens,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,Discus Throw,Bronze
27,1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,Discus Throw,Gold
28,1896,Athens,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,Discus Throw,Silver
29,1896,Athens,Athletics,Athletics,"CLARK, Ellery",USA,Men,High Jump,Gold
...,...,...,...,...,...,...,...,...,...
31135,2012,London,Wrestling,Wrestling Freestyle,"GAZYUMOV, Khetag",AZE,Men,Wf 96 KG,Bronze
31136,2012,London,Wrestling,Wrestling Freestyle,"GOGSHELIDZE, George",GEO,Men,Wf 96 KG,Bronze
31137,2012,London,Wrestling,Wrestling Freestyle,"LOPEZ NUNEZ, Mijain",CUB,Men,Wg 120 KG,Gold
31138,2012,London,Wrestling,Wrestling Freestyle,"NABI, Heiki",EST,Men,Wg 120 KG,Silver
31139,2012,London,Wrestling,Wrestling Freestyle,"EUREN, Johan",SWE,Men,Wg 120 KG,Bronze
31140,2012,London,Wrestling,Wrestling Freestyle,"KAYAALP, Riza",TUR,Men,Wg 120 KG,Bronze
31141,2012,London,Wrestling,Wrestling Freestyle,"SORYAN REIHANPOUR, Hamid Mohammad",IRI,Men,Wg 55 KG,Gold
31142,2012,London,Wrestling,Wrestling Freestyle,"BAYRAMOV, Rovshan",AZE,Men,Wg 55 KG,Silver
31143,2012,London,Wrestling,Wrestling Freestyle,"MODOS, Peter",HUN,Men,Wg 55 KG,Bronze
31144,2012,London,Wrestling,Wrestling Freestyle,"SEMENOV, Mingiyan",RUS,Men,Wg 55 KG,Bronze
31145,2012,London,Wrestling,Wrestling Freestyle,"NOROOZI, Omid Haji",IRI,Men,Wg 60 KG,Gold
31146,2012,London,Wrestling,Wrestling Freestyle,"LASHKHI, Revaz",GEO,Men,Wg 60 KG,Silver
31147,2012,London,Wrestling,Wrestling Freestyle,"KURAMAGOMEDOV, Zaur",RUS,Men,Wg 60 KG,Bronze
31148,2012,London,Wrestling,Wrestling Freestyle,"MATSUMOTO, Ryutaro",JPN,Men,Wg 60 KG,Bronze
31149,2012,London,Wrestling,Wrestling Freestyle,"KIM, Hyeonwoo",KOR,Men,Wg 66 KG,Gold
31150,2012,London,Wrestling,Wrestling Freestyle,"LORINCZ, Tamas",HUN,Men,Wg 66 KG,Silver
31151,2012,London,Wrestling,Wrestling Freestyle,"GUENOT, Steeve",FRA,Men,Wg 66 KG,Bronze
31152,2012,London,Wrestling,Wrestling Freestyle,"TSKHADAIA, Manuchar",GEO,Men,Wg 66 KG,Bronze
31153,2012,London,Wrestling,Wrestling Freestyle,"VLASOV, Roman",RUS,Men,Wg 74 KG,Gold
31154,2012,London,Wrestling,Wrestling Freestyle,"JULFALAKYAN, Arsen",ARM,Men,Wg 74 KG,Silver
31155,2012,London,Wrestling,Wrestling Freestyle,"AHMADOV, Emin",AZE,Men,Wg 74 KG,Bronze
31156,2012,London,Wrestling,Wrestling Freestyle,"KAZAKEVIC, Aleksandr",LTU,Men,Wg 74 KG,Bronze
31157,2012,London,Wrestling,Wrestling Freestyle,"KHUGAEV, Alan",RUS,Men,Wg 84 KG,Gold
31158,2012,London,Wrestling,Wrestling Freestyle,"EBRAHIM, Karam Mohamed Gaber",EGY,Men,Wg 84 KG,Silver
31159,2012,London,Wrestling,Wrestling Freestyle,"GAJIYEV, Danyal",KAZ,Men,Wg 84 KG,Bronze
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [159]:
summer.loc[[200, 300], ["Athlete", "Medal"]]

                      Athlete   Medal
200               KEMP, Peter    Gold
300  SHELDON, Lewis Pendleton  Bronze

__Case 4: Combining Position- and label-based Indexing__: Rows "PHELPS Michael" and positional columns 4 and 6

In [161]:
summer = pd.read_csv("summer.csv", index_col = "Athlete")

In [162]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Bronze
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,1200M Freestyle,Gold
"ANDREOU, Joannis",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Bronze
"NEUMANN, Paul",1896,Athens,Aquatics,Swimming,AUT,Men,400M Freestyle,Gold
"PEPANOS, Antonios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Silver
"LANE, Francis",1896,Athens,Athletics,Athletics,USA,Men,100M,Bronze
"SZOKOLYI, Alajos",1896,Athens,Athletics,Athletics,HUN,Men,100M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,100M,Gold
"HOFMANN, Fritz",1896,Athens,Athletics,Athletics,GER,Men,100M,Silver
"CURTIS, Thomas",1896,Athens,Athletics,Athletics,USA,Men,110M Hurdles,Gold
"GOULDING, Grantley",1896,Athens,Athletics,Athletics,GBR,Men,110M Hurdles,Silver
"LERMUSIAUX, Albin",1896,Athens,Athletics,Athletics,FRA,Men,1500M,Bronze
"FLACK, Edwin",1896,Athens,Athletics,Athletics,AUS,Men,1500M,Gold
"BLAKE, Arthur",1896,Athens,Athletics,Athletics,USA,Men,1500M,Silver
"GMELIN, Charles",1896,Athens,Athletics,Athletics,GBR,Men,400M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,400M,Gold
"JAMISON, Herbert",1896,Athens,Athletics,Athletics,USA,Men,400M,Silver
"GOLEMIS, Dimitrios",1896,Athens,Athletics,Athletics,GRE,Men,800M,Bronze
"FLACK, Edwin",1896,Athens,Athletics,Athletics,AUS,Men,800M,Gold
"DANI, Nandor",1896,Athens,Athletics,Athletics,HUN,Men,800M,Silver
"VERSIS, Sotirios",1896,Athens,Athletics,Athletics,GRE,Men,Discus Throw,Bronze
"GARRETT, Robert",1896,Athens,Athletics,Athletics,USA,Men,Discus Throw,Gold
"PARASKEVOPOULOS, Panagiotis",1896,Athens,Athletics,Athletics,GRE,Men,Discus Throw,Silver
"CLARK, Ellery",1896,Athens,Athletics,Athletics,USA,Men,High Jump,Gold
...,...,...,...,...,...,...,...,...
"GAZYUMOV, Khetag",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wf 96 KG,Bronze
"GOGSHELIDZE, George",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wf 96 KG,Bronze
"LOPEZ NUNEZ, Mijain",2012,London,Wrestling,Wrestling Freestyle,CUB,Men,Wg 120 KG,Gold
"NABI, Heiki",2012,London,Wrestling,Wrestling Freestyle,EST,Men,Wg 120 KG,Silver
"EUREN, Johan",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 120 KG,Bronze
"KAYAALP, Riza",2012,London,Wrestling,Wrestling Freestyle,TUR,Men,Wg 120 KG,Bronze
"SORYAN REIHANPOUR, Hamid Mohammad",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 55 KG,Gold
"BAYRAMOV, Rovshan",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wg 55 KG,Silver
"MODOS, Peter",2012,London,Wrestling,Wrestling Freestyle,HUN,Men,Wg 55 KG,Bronze
"SEMENOV, Mingiyan",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 55 KG,Bronze
"NOROOZI, Omid Haji",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 60 KG,Gold
"LASHKHI, Revaz",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wg 60 KG,Silver
"KURAMAGOMEDOV, Zaur",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 60 KG,Bronze
"MATSUMOTO, Ryutaro",2012,London,Wrestling,Wrestling Freestyle,JPN,Men,Wg 60 KG,Bronze
"KIM, Hyeonwoo",2012,London,Wrestling,Wrestling Freestyle,KOR,Men,Wg 66 KG,Gold
"LORINCZ, Tamas",2012,London,Wrestling,Wrestling Freestyle,HUN,Men,Wg 66 KG,Silver
"GUENOT, Steeve",2012,London,Wrestling,Wrestling Freestyle,FRA,Men,Wg 66 KG,Bronze
"TSKHADAIA, Manuchar",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wg 66 KG,Bronze
"VLASOV, Roman",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 74 KG,Gold
"JULFALAKYAN, Arsen",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 74 KG,Silver
"AHMADOV, Emin",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wg 74 KG,Bronze
"KAZAKEVIC, Aleksandr",2012,London,Wrestling,Wrestling Freestyle,LTU,Men,Wg 74 KG,Bronze
"KHUGAEV, Alan",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 84 KG,Gold
"EBRAHIM, Karam Mohamed Gaber",2012,London,Wrestling,Wrestling Freestyle,EGY,Men,Wg 84 KG,Silver
"GAJIYEV, Danyal",2012,London,Wrestling,Wrestling Freestyle,KAZ,Men,Wg 84 KG,Bronze
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [163]:
col = summer.columns[[4, 6]]
col

Index(['Country', 'Event'], dtype='object')

In [164]:
summer.loc["PHELPS, Michael", col]

                Country                   Event
Athlete
PHELPS, Michael     USA          100M Butterfly
PHELPS, Michael     USA          200M Butterfly
PHELPS, Michael     USA          200M Freestyle
PHELPS, Michael     USA  200M Individual Medley
PHELPS, Michael     USA  400M Individual Medley
PHELPS, Michael     USA  4X100M Freestyle Relay
PHELPS, Michael     USA     4X100M Medley Relay
PHELPS, Michael     USA  4X200M Freestyle Relay
PHELPS, Michael     USA          100M Butterfly
PHELPS, Michael     USA          200M Butterfly
PHELPS, Michael     USA          200M Freestyle
PHELPS, Michael     USA  200M Individual Medley
PHELPS, Michael     USA  400M Individual Medley
PHELPS, Michael     USA  4X100M Freestyle Relay
PHELPS, Michael     USA     4X100M Medley Relay
PHELPS, Michael     USA  4X200M Freestyle Relay
PHELPS, Michael     USA          100M Butterfly
PHELPS, Michael     USA          200M Butterfly
PHELPS, Michael     USA             200M Medley
PHELPS, Michael     USA        4X100M Freestyle
PHELPS, Michael     USA           4X100M Medley
PHELPS, Michael     USA        4X200M Freestyle

In [165]:
#summer.ix["PHELPS, Michael", [4, 6]]